<%- include('partials/header.ejs') %>
<body>
  <div class="onother-header">
    <div class="header-content">
      <h1>Eventos</h1>
      <h5>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </h5>
    </div>
  </div>
  <div class="container py-5">
    <div class="events-this-month">
      <h2>NOVEMBRO - 2025</h2>
      <div class="events-container">
        <!-- Exemplo de eventos -->
        <div class="event-item" data-aos="fade-up">
          <h4>Workshop de Tecnologia</h4>
          <p>Data: 10 de novembro</p>
          <p>Local: Centro de Convenções</p>
          <p>Faça sua inscrição pelo site: www.teste.com</p>
        </div>
        <div class="event-item" data-aos="fade-up">
          <h4>Feira de Artesanato</h4>
          <p>Data: 15 de novembro</p>
          <p>Local: Praça Central</p>
          <p>Faça sua inscrição pelo site: www.teste.com</p>
        </div>
        <div class="event-item" data-aos="fade-up">
          <h4>Caminhada Ecológica</h4>
          <p>Data: 25 de novembro</p>
          <p>Local: Parque Municipal</p>
          <p>Aberto ao público</p>
        </div>
        <div class="event-item" data-aos="fade-up">
          <h4>Salto Delas</h4>
          <p>Data: 25 de novembro</p>
          <p>Local: Paço Municipal</p>
          <p>Aberto ao público</p>
        </div>
      </div>
    </div>
    <div class="events-this-month">
      <h2>DEZEMBRO - 2025</h2>
      <div class="events-container">
        <!-- Exemplo de eventos -->
        <div class="event-item" data-aos="fade-up">
          <h4>Workshop de Tecnologia</h4>
          <p>Data: 10 de dezembro</p>
          <p>Local: Centro de Convenções</p>
          <p>Faça sua inscrição pelo site: www.teste.com</p>
        </div>
        <div class="event-item" data-aos="fade-up">
          <h4>Feira de Artesanato</h4>
          <p>Data: 15 de dezembro</p>
          <p>Local: Praça Central</p>
          <p>Faça sua inscrição pelo site: www.teste.com</p>
        </div>
        <div class="event-item" data-aos="fade-up">
          <h4>Caminhada Ecológica</h4>
          <p>Data: 25 de dezembro</p>
          <p>Local: Parque Municipal</p>
          <p>Aberto ao público</p>
        </div>
        <div class="event-item" data-aos="fade-up">
          <h4>Salto Delas</h4>
          <p>Data: 25 de dezembro</p>
          <p>Local: Paço Municipal</p>
          <p>Aberto ao público</p>
        </div>
      </div>
    </div>
  </div>
  <div class="second-header">
    <h1>Galeria</h1>
    <div class="container py-5">
      <div class="events-this-month">
        <h2>OUTUBRO - 2025</h2>
        <div data-aos="fade-up">
          <h4 class="subtitle-galeria">Festa Nipo-Brasileira</h4>
          <div class="row justify-content-around">
            <div class="col-3 info-vertical-card shadow">
              <div class="card-container-img-event">
                <div class="card-image-event">
                  <img
                    src="/img/nipo01.jpg"
                    class="img-secretary"
                    alt="Festa Nipo 01"
                  />
                </div>
              </div>
            </div>
            <div class="col-3 info-vertical-card shadow">
              <div class="card-container-img-event">
                <div class="card-image-event">
                  <img
                    src="/img/nipo02.jpg"
                    class="img-secretary"
                    alt="Festa Nipo 02"
                  />
                </div>
              </div>
            </div>
            <div class="col-3 info-vertical-card shadow">
              <div class="card-container-img-event">
                <div class="card-image-event">
                  <img
                    src="/img/nipo03.jpg"
                    class="img-secretary"
                    alt="Festa Nipo 03"
                  />
                </div>
              </div>
            </div>
            <div class="col-3 info-vertical-card shadow">
              <div class="card-container-img-event">
                <div class="card-image-event">
                  <img
                    src="/img/nipo04.jpg"
                    class="img-secretary"
                    alt="Festa Nipo 04"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div data-aos="fade-up">
          <h4 class="subtitle-galeria mt-1">Festa Italo-Saltense</h4>
          <div class="row justify-content-around">
            <div class="col-3 info-vertical-card shadow">
              <div class="card-container-img-event">
                <div class="card-image-event">
                  <img
                    src="/img/italo01.jpg"
                    class="img-secretary"
                    alt="Festa Italo 01"
                  />
                </div>
              </div>
            </div>
            <div class="col-3 info-vertical-card shadow">
              <div class="card-container-img-event">
                <div class="card-image-event">
                  <img
                    src="/img/italo02.jpg"
                    class="img-secretary"
                    alt="Festa Italo 02"
                  />
                </div>
              </div>
            </div>
            <div class="col-3 info-vertical-card shadow">
              <div class="card-container-img-event">
                <div class="card-image-event">
                  <img
                    src="/img/italo03.jpg"
                    class="img-secretary"
                    alt="Festa Italo 03"
                  />
                </div>
              </div>
            </div>
            <div class="col-3 info-vertical-card shadow">
              <div class="card-container-img-event">
                <div class="card-image-event">
                  <img
                    src="/img/italo04.jpg"
                    class="img-secretary"
                    alt="Festa Italo 04"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container py-5">
      <div class="events-this-month">
        <h2>SETEMBRO - 2025</h2>
        <div data-aos="fade-up">
          <h4 class="subtitle-galeria">Festa do Salto</h4>
          <div class="row justify-content-around">
            <div class="col-3 info-vertical-card shadow" data-aos="fade-right" data-aos-delay="0">
              <div class="card-container-img-event">
                <div class="card-image-event">
                  <img src="/img/festa01.jpg" class="img-secretary" alt="Festa Salto 01" />
                </div>
              </div>
            </div>
            <div class="col-3 info-vertical-card shadow" data-aos="fade-right" data-aos-delay="200">
              <div class="card-container-img-event">
                <div class="card-image-event">
                  <img src="/img/festa02.jpg" class="img-secretary" alt="Festa Salto 02" />
                </div>
              </div>
            </div>
            <div class="col-3 info-vertical-card shadow" data-aos="fade-right" data-aos-delay="400">
              <div class="card-container-img-event">
                <div class="card-image-event">
                  <img src="/img/festa03.jpg" class="img-secretary" alt="Festa Salto 03" />
                </div>
              </div>
            </div>
            <div class="col-3 info-vertical-card shadow" data-aos="fade-right" data-aos-delay="600">
              <div class="card-container-img-event">
                <div class="card-image-event">
                  <img src="/img/festa04.jpg" class="img-secretary" alt="Festa Salto 04" />
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-around">
            <div class="col-3 info-vertical-card shadow" data-aos="fade-right" data-aos-delay="600">
              <div class="card-container-img-event">
                <div class="card-image-event">
                  <img
                    src="/img/festa05.jpg"
                    class="img-secretary"
                    alt="Festa Salto 05"
                  />
                </div>
              </div>
            </div>
            <div class="col-3 info-vertical-card shadow" data-aos="fade-right" data-aos-delay="800">
              <div class="card-container-img-event">
                <div class="card-image-event">
                  <img
                    src="/img/festa06.jpg"
                    class="img-secretary"
                    alt="Festa Salto 06"
                  />
                </div>
              </div>
            </div>
            <div class="col-3 info-vertical-card shadow" data-aos="fade-right" data-aos-delay="1000">
              <div class="card-container-img-event">
                <div class="card-image-event">
                  <img
                    src="/img/festa07.jpg"
                    class="img-secretary"
                    alt="Festa Salto 07"
                  />
                </div>
              </div>
            </div>
            <div class="col-3 info-vertical-card shadow"data-aos="fade-right" data-aos-delay="1200">
              <div class="card-container-img-event">
                <div class="card-image-event">
                  <img
                    src="/img/festa08.jpg"
                    class="img-secretary"
                    alt="Festa Salto 08"
                  />
                </div>
              </div>
            </div>
          </div>
        
          
        </div>       
      </div>
    </div>
  </div>
</body>
<%- include('partials/footer.ejs') %>
