<%- include('partials/header.ejs') %>
<body>
  <div class="onother-header">
    <div class="header-content">
      <h1>Expresso Salto</h1>
      <h5> 
        Um programa para conversar com os gestores municipais, conhecer os projetos concluídos, acompanhar os que estão em andamento e descobrir as novidades que vêm por aí.
      </h5>
    </div>
  </div>
  <div class="container">
    <div data-aos="fade-up">
      <div class="row align-container-prefeitos">
        <div class="col-lg-4 info-vertical-card-express shadow">
          <div class="card-container-express">
            <video class="full-width-video" autoplay muted loop>
              <source src="/video/prefeito.mp4" type="video/mp4">
              Seu navegador não suporta o elemento de vídeo.
            </video>
          </div>
          <h5 class="text-center mt-3 txt-secretary-title">Entrevista com o Prefeito</h5>
          <p>Apresentando os novos projetos que vão transformar Salto.</p>
          <div class="text-center mt-3">
            <button type="button" class="btn btn-see-more-pref">Ver Completo</button>
          </div>
        </div>
        <div class="col-lg-4 info-vertical-card-express shadow">
          <div class="card-container-express">
            <video class="full-width-video" autoplay muted loop>
              <source src="/video/vice-prefeito.mp4" type="video/mp4">
              Seu navegador não suporta o elemento de vídeo.
            </video>
          </div>
          <h5 class="text-center mt-3 txt-secretary-title">Entrevista com o Vice-Prefeito</h5>
          <p>Conheça os planos e iniciativas que estão moldando o futuro de Salto..</p>
          <div class="text-center mt-3">
            <button type="button" class="btn btn-see-more-pref">Ver Completo</button>
          </div>
        </div>
        <div class="col-lg-4 info-vertical-card-express shadow">
          <div class="card-container-express">
            <video class="full-width-video" autoplay muted loop>
              <source src="/video/secretario-saude.mp4" type="video/mp4">
              Seu navegador não suporta o elemento de vídeo.
            </video>
          </div>
          <h5 class="text-center mt-3 txt-secretary-title">Entrevista com a Secretária de Saúde</h5>
          <p>Descubra os novos desafios e projetos para melhorar a saúde de Salto.</p>
          <div class="text-center mt-3">
            <button type="button" class="btn btn-see-more-pref">Ver Completo</button>
          </div>
        </div>
      </div>
    </div>
    <div data-aos="fade-up">
      <div class="row align-container-prefeitos">
        <div class="col-lg-4 info-vertical-card-express shadow">
          <div class="card-container-express">
            <video class="full-width-video" autoplay muted loop>
              <source src="/video/secretario-educacao.mp4" type="video/mp4">
              Seu navegador não suporta o elemento de vídeo.
            </video>
          </div>
          <h5 class="text-center mt-3 txt-secretary-title">Ana Maria: Secretária de Saúde</h5>
          <p>Ana Maria visita as escolas para conhecer as necessidades de cada uma.</p>
          <div class="text-center mt-3">
            <button type="button" class="btn btn-see-more-pref">Ver Completo</button>
          </div>
        </div>
        <div class="col-lg-4 info-vertical-card-express shadow">
          <div class="card-container-express">
            <video class="full-width-video" autoplay muted loop>
              <source src="/video/secretario-obras.mp4" type="video/mp4">
              Seu navegador não suporta o elemento de vídeo.
            </video>
          </div>
          <h5 class="text-center mt-3 txt-secretary-title">José Costa: Secretário de Obras</h5>
          <p>Entenda como será a feita os 20 km de ciclovia da cidade.</p>
          <div class="text-center mt-3">
            <button type="button" class="btn btn-see-more-pref">Ver Completo</button>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  
</body>
<%- include('partials/footer.ejs') %>