<%- include('partials/header.ejs') %>
<body>
  <div class="onother-header">
    <div class="header-content">
      <h1>Fale Conosco</h1>
      <h5> Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.!
      </h5>
    </div>
  </div>
  <div class="container">
    <form action="/save-form" method="POST" enctype="multipart/form-data">
      <div class="row">
        <div class="form-group col-lg-6 mt-3">
          <label for="first_name">Nome</label>
          <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Nome" required>
        </div>
        <div class="form-group col-lg-6 mt-3">
          <label for="last_name">Sobrenome</label>
          <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Sobrenome" required>
        </div>
        <div class="form-group col-lg-6 mt-3">
          <label for="phone">Telefone</label>
          <input type="tel" class="form-control" id="phone" name="phone" placeholder="Telefone" required>
        </div>
        <div class="form-group col-lg-6 mt-3">
          <label for="email">E-mail</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="E-mail" required>
        </div>
        <div class="form-group col-lg-12 mt-3">
          <label for="subject_name">Assunto</label>
          <select class="form-control" id="subject_name" name="subject_name">
            <option value="" selected disabled>Selecione um assunto</option>
            <option value="História">História</option>
            <option value="Obras">Obras</option>
            <option value="Empregos">Empregos</option>
            <option value="Outros">Outros</option>
          </select>
        </div>
        <div class="form-group col-12 mt-3">
          <label for="subject_description">Descreva o Assunto</label>
          <textarea class="form-control" id="subject_description" name="subject_description" rows="4" placeholder="Digite mais detalhes sobre o assunto..."></textarea>
        </div>
        <div class="form-group col-12 mt-3">
          <label for="files">Anexar Arquivos</label>
          <input type="file" class="form-control" id="files" name="files" multiple accept="image/*, video/*, .pdf">
        </div>
        <div class="form-group col-12 mt-3">
          <button class="btn btn-primary">Enviar</button>
        </div>
      </div>
    </form>
    <% if (message) { %>
      <script>
        Swal.fire({
          icon: 'success',
          title: '<%= message %>',
          confirmButtonText: 'Ok',
          background: '#f9f9f9',
          customClass: {
            title: 'swal-title',
            popup: 'swal-popup',
            confirmButton: 'swal-confirm-btn',
          }
        });
  
      </script>
      
    <% } %>
    
  </div>
</body>
<%- include('partials/footer.ejs') %>
