<%- include ('partials/header.ejs') %>
<body style="background-color: #1a5eac">
  <div class="video-container">
    <video class="full-width-video" autoplay muted loop>
      <source src="/video/cidade.mp4" type="video/mp4">
      Seu navegador não suporta o elemento de vídeo.
    </video>
    <img src="/img/borda.png" alt="Borda decorativa" class="video-border">
    <img src="/img/borda2.png" alt="Borda decorativa" class="video-border2">
    <div class="connecting-line"></div> <!-- Linha conectando as bordas -->
    <div class="video-overlay">
      <h1>
        <span class="highlight header-transition">Salto para o futuro</span><br>
        <span class="highlight-2 header-transition">com o coração no presente.</span>
      </h1>
    </div>
  </div>
  <div class="container">
    <img src="/img/falam.png" alt="Icone falar" class="img-speak"> 
    <span class="txt-title">Fale conosco</span>
    <div class="row mt-5">
      <div class="col-md-3 teste p-3">
        <img src="/img/momentos.png" alt="Icone de momentos" class="img-icons"> 
        <h3 class="txt-icons-title">Bons momentos</h3>
        <h6 class="txt-icons-body">Compartilhe aqui cenas e momentos que você registrou sobre nossa cidade, seja algo atual ou uma boa lembrança. Vale fotos de pessoas, lugares, monumentos e muito mais!
        </h6>
      </div>
      <div class="col-md-3 teste p-3">
        <img src="/img/obras.png" alt="Icone de obras" class="img-icons"> 
        <h3 class="txt-icons-title">Obras</h3>
        <h6 class="txt-icons-body">Sua rua, seu bairro ou algum lugar que você conhece está precisando de reparos? Compartilhe conosco! Vamos publicar e buscar soluções juntos.</h6>
      </div>
      <div class="col-md-3 teste p-3">
        <img src="/img/antes_depois.png" alt="Icone Antes e Depois" class="img-icons"> 
        <h3 class="txt-icons-title">Antes e Depois</h3>
        <h6 class="txt-icons-body">Tem fotos antigas de algum lugar da cidade? Registre como está agora e nos envie. Vamos compartilhar essa nostalgia por aqui!</h6>
      </div>
      <div class="col-md-3 teste p-3">
        <img src="/img/atualizacao.png" alt="Icone de atualização" class="img-icons"> 
        <h3 class="txt-icons-title">Atualizações</h3>
        <h6 class="txt-icons-body">Queremos manter nosso site sempre atualizado! Viu algo incorreto ou com alguma divergência? Nos avise. Será um prazer ouvir você!</h6>
      </div>
    </div>
  </div>
</body>
<%- include ('partials/footer.ejs') %>
