<%- include('partials/header.ejs') %>
<body>
  <div class="onother-header">
    <div class="header-content">
      <h1>Obras</h1>
      <h5>A cidade avança com melhorias em infraestrutura, saúde e lazer. Confira as transformações em andamento!</h5>
    </div>
  </div>
  <div class="container my-5 body-transition">
    <div data-aos="fade-up">
      <div class="row align-items-center">
        <div class="col-md-6">
          <img src="/img/creche.jpg" alt="Creche" class="img-fluid rounded shadow"> 
        </div>
        <div class="col-md-6">
          <h2 class="txt-title-works">Creche Nações</h2>
          <p class="text-muted fs-5">
            Estamos investindo no futuro! Novas creches estão sendo construídas para atender às demandas da comunidade e garantir um espaço seguro e acolhedor para nossas crianças.
          </p>
        </div>
      </div>
      <hr>
    </div>
    
    <div data-aos="fade-up">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h2 class="txt-title-works">Academia Ar Livre</h2>
          <p class="text-muted fs-5">
            Estamos investindo em você! Novas academias estão sendo construídas para atender às demandas da comunidade e garantir um qualidade de vida a toda a nossa população!
          </p>
        </div>
        <div class="col-md-6">
          <img src="/img/academia.jpg" alt="Creche" class="img-fluid rounded shadow"> 
        </div>
      </div>
      <hr>
    </div>
   
    <div data-aos="fade-up">
      <div class="row align-items-center">
        <div class="col-md-6">
          <img src="/img/posto.jpeg" alt="Posto de Saúde" class="img-fluid rounded shadow"> 
        </div>
        <div class="col-md-6">
          <h2 class="txt-title-works">Posto de Saúde Bela Vista</h2>
          <p class="text-muted fs-5">
            Estamos investindo em saúde! Novos postos de saúde estão sendo construídos para atender às demandas da comunidade e garantir um saúde para toda a comunidade Saltense! nossas crianças.
          </p>
        </div>
      </div>
      <hr>
    </div>
    
  </div>
  
</body>
<%- include('partials/footer.ejs') %>
