<%- include('partials/header.ejs') %>
<body>
  <div class="onother-header">
    <div class="header-content">
      <h1>Prefeito</h1>
      <h5>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </h5>
    </div>
  </div>
  <div class="container my-5 body-transition">
    <div data-aos="fade-up">
      <div class="row align-items-start backgroud-prefeito shadow">
        <div class="col-lg-4">
          <img src="/img/prefeito.jpg" alt="Prefeito" class="img-fluid img-prefeito shadow">
        </div>
        <div class="col-lg-8 mt-1">
          <h2>Jose Joao</h2>
          <p class="fs-5 text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laboru.
          </p>
          <p class="fs-5 text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laboru.
          </p>
          <p class="fs-5 text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </p>
          <div class="text-center mt-3">
            <button type="button" class="btn btn-see-more-pref" data-bs-toggle="modal" data-bs-target="#modalPrefeito">Ver mais</button>
          </div>
        </div>
      </div>
      <hr>
      <div data-aos="fade-up">
        <div class="row align-container-prefeitos">
          <div class="col-lg-2 info-vertical-card-pref shadow">
            <div class="card-container-prefeito">
              <div class="card-image">
                <img src="/img/anterior01.jpg" class="img-secretary" alt="Prefeito Anterior Secretário 01" />
              </div>
            </div>
            <h5 class="text-center mt-3 txt-secretary-title">2021 - 2024</h5>
            <p>Nome Nome Nome</p>
          </div>
          <div class="col-lg-2 info-vertical-card-pref shadow">
            <div class="card-container-prefeito">
              <div class="card-image">
                <img src="/img/anterior02.jpg" class="img-secretary" alt="Prefeito Anterior Secretário 02" />
              </div>
            </div>
            <h5 class="text-center mt-3 txt-secretary-title">2017 - 2020</h5>
            <p>Nome Nome Nome</p>
          </div>
          <div class="col-lg-2 info-vertical-card-pref shadow">
            <div class="card-container-prefeito">
              <div class="card-image">
                <img src="/img/anterior03.jpg" class="img-secretary" alt="Prefeito Anterior Secretário 03" />
              </div>
            </div>
            <h5 class="text-center mt-3 txt-secretary-title">2013 - 2016</h5>
            <p>Nome Nome Nome</p>
          </div>
          <div class="col-lg-2 info-vertical-card-pref shadow">
            <div class="card-container-prefeito">
              <div class="card-image">
                <img src="/img/anterior04.jpg" class="img-secretary" alt="Prefeito Anterior Secretário 04" />
              </div>
            </div>
            <h5 class="text-center mt-3 txt-secretary-title">2009 - 2012</h5>
            <p>Nome Nome Nome</p>
          </div>
          <div class="col-lg-2 info-vertical-card-pref shadow">
            <div class="card-container-prefeito">
              <div class="card-image">
                <img src="/img/anterior05.jpg" class="img-secretary" alt="Prefeito Anterior 05" />
              </div>
            </div>
            <h5 class="text-center mt-3 txt-secretary-title">2005 - 2008</h5>
            <p>Nome Nome Nome</p>
          </div>
          <div class="col-lg-2 info-vertical-card-pref shadow">
            <div class="card-container-prefeito">
              <div class="card-image">
                <img src="/img/anterior06.jpg" class="img-secretary" alt="Prefeito Anterior 06" />
              </div>
            </div>
            <h5 class="text-center mt-3 txt-secretary-title">2001 - 2004</h5>
            <p>Nome Nome Nome</p>
          </div>
        </div>
      </div>
      
    
    </div>
  </div>
  
<!-- MODAL PREFEITO -->
<div class="modal fade custom-modal" id="modalPrefeito" tabindex="-1" aria-labelledby="modalPrefeitoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title-container">
          <h5 class="modal-title" id="modalPrefeitoLabel">Jose João</h5>
          <p class="modal-subtitle">Prefeito</p> <!-- Cargo abaixo do nome -->
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>Idade:</strong> 60 anos</p>
        <p><strong>Profissão:</strong> Empresário</p>
        <p><strong>Histórico:</strong> 10 anos no serviço público.</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laboru.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laboru.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>


</body>
<%- include('partials/footer.ejs') %>
