<%- include('partials/header.ejs') %>
<body>
  <div class="onother-header">
    <div class="header-content">
      <h1>Prefeito</h1>
      <h5>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </h5>
    </div>
  </div>
  <div class="container my-5 body-transition">
    <div data-aos="fade-up">
      <div class="row align-items-start backgroud-prefeito shadow">
        <div class="col-lg-4">
          <img src="/img/pref01.jpg" alt="Prefeito" class="img-fluid img-prefeito shadow">
        </div>
        <div class="col-lg-8 mt-1">
          <h2>Geraldo Garcia</h2>
          <p class="fs-5 text-justify">
            Geraldo Garcia é um saltense apaixonado por sua cidade. Nasceu em Salto, no dia 7 de janeiro de 1962, em uma residência localizada na Rua Sete de Setembro, que até hoje pertence a seus pais.
          </p>
          <p class="fs-5 text-justify">
            É casado com Marisa e pai de duas filhas, Raquel e Renata.
          </p>
          <br>
          <h5 style="font-weight: 800;">Gestão como Prefeito de Salto:</h5>
          <p class="fs-5 text-justify">♦ 2005: Eleito prefeito pela primeira vez com 57,89% dos votos, conduzindo um período de reconstrução e desenvolvimento.</p>
          <p class="fs-5 text-justify">♦ 2008: Reeleito com 80% dos votos, consolidando sua gestão com inúmeras realizações e conquistas.</p>
          <p class="fs-5 text-justify">♦ 2017: Reeleito novamente, dando continuidade ao trabalho em prol de Salto.</p>
          <p class="fs-5 text-justify">♦ 2025: Iniciando seu quarto mandato como prefeito, com o compromisso de transformar a cidade com dedicação e trabalho. O slogan desta gestão é "Governar e Avançar".</p>

          
          <div class="text-center mt-3">
            <button type="button" class="btn btn-see-more-pref" data-bs-toggle="modal" data-bs-target="#modalPrefeito">Ver mais</button>
          </div>
        </div>
      </div>
      <hr>
      
      <div class="row align-container-prefeitos">
        <div class="col-lg-2 info-vertical-card-pref shadow" data-aos="fade-up">
          <div class="card-container-prefeito">
            <div class="card-image">
              <img src="/img/galeria_pref01.jpg" class="img-secretary" alt="Prefeito Anterior 01" />
            </div>
          </div>
          <h5 class="text-center mt-3 txt-secretary-title">Laerte Sonsin Jr.</h5>
          <p>2021 - 2024</p>

        </div>
        <div class="col-lg-2 info-vertical-card-pref shadow" data-aos="fade-up">
          <div class="card-container-prefeito">
            <div class="card-image">
              <img src="/img/galeria_pref03.jpg" class="img-secretary" alt="Prefeito Anterior 02" />
            </div>
          </div>
          <h5 class="text-center mt-3 txt-secretary-title">José Geraldo Garcia</h5>
          <p>2005 - 2008</p>
          <p>2009 - 2012</p>
          <p>2017 - 2020</p>
        </div>
        <div class="col-lg-2 info-vertical-card-pref shadow" data-aos="fade-up">
          <div class="card-container-prefeito">
            <div class="card-image">
              <img src="/img/galeria_pref02.jpg" class="img-secretary" alt="Prefeito Anterior Secretário 03" />
            </div>
          </div>          
          <h5 class="text-center mt-3 txt-secretary-title">Juvenil Cirelli</h5>
          <p>2013 - 2016</p>
        </div>
        <div class="col-lg-2 info-vertical-card-pref shadow" data-aos="fade-up">
          <div class="card-container-prefeito">
            <div class="card-image">
              <img src="/img/galeria_pref04.jpg" class="img-secretary" alt="Prefeito Anterior Secretário 04" />
            </div>
          </div>
          <h5 class="text-center mt-3 txt-secretary-title">Pilzio Di Lelli</h5>
          <p>1983 - 1988</p>
          <p>2001 - 2004</p>
        </div>
        <div class="col-lg-2 info-vertical-card-pref shadow" data-aos="fade-up">
          <div class="card-container-prefeito">
            <div class="card-image">
              <img src="/img/galeria_pref05.jpg" class="img-secretary" alt="Prefeito Anterior 05" />
            </div>
          </div>
          <h5 class="text-center mt-3 txt-secretary-title">João Guido Conti</h5>
          <p>1997 - 2000</p>
        </div>
        <div class="col-lg-2 info-vertical-card-pref shadow" data-aos="fade-up">
          <div class="card-container-prefeito">
            <div class="card-image">
              <img src="/img/galeria_pref06.jpg" class="img-secretary" alt="Prefeito Anterior 06" />
            </div>
          </div>
          <h5 class="text-center mt-3 txt-secretary-title">Jesuino Ruy</h5>
          <p>1969 - 1973</p>
          <p>1977 - 1983</p>
          <p>1993 - 1996</p>
        </div>
      </div>
    </div>
  </div>
  
<!-- MODAL PREFEITO -->
<div class="modal fade custom-modal" id="modalPrefeito" tabindex="-1" aria-labelledby="modalPrefeitoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title-container">
          <h5 class="modal-title" id="modalPrefeitoLabel">Jose João</h5>
          <p class="modal-subtitle">Prefeito</p> <!-- Cargo abaixo do nome -->
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>Biografia do Prefeito Geraldo Garcia</strong></p>

        <p><strong>Geraldo Garcia</strong> é um saltense apaixonado por sua cidade. Nasceu em Salto, no dia 7 de janeiro de 1962, em uma residência localizada na Rua Sete de Setembro, que até hoje pertence a seus pais.</p>
        
        <p>É casado com <strong>Marisa</strong> e pai de duas filhas, <strong>Raquel</strong> e <strong>Renata</strong>.</p>
        
        <p><strong>Formação Acadêmica</strong></p>
        <p>Geraldo Garcia estudou no <strong>Externato Sagrada Família</strong>, na <strong>Escola Estadual Tancredo do Amaral</strong> e no <strong>Colégio Dr. Barros Júnior</strong>.<br> 
        Formou-se em <strong>Administração de Empresas</strong> pela <strong>UNISO</strong> e especializou-se em <strong>Planejamento e Marketing</strong> pelo <strong>SENAC-CEATEL</strong>.<br> 
        Também se formou como <strong>radialista</strong>, área pela qual desenvolveu grande interesse.</p>
        
        <p><strong>Experiência Profissional</strong></p>
        <p>Iniciou sua carreira na <strong>Eucatex</strong> (1977-1985), passando por setores como faturamento, caixa e treinamento de pessoal.<br> 
        Posteriormente, trabalhou na <strong>Fábrica de Aço Paulista (atual Metso)</strong> (1985-1989), atuando na área de treinamento e em Organização & Métodos.<br> 
        Além da vida profissional, participou da <strong>JESL – Jovens Sem Limites</strong>, movimento ligado à <strong>Paróquia de Nossa Senhora do Monte Serrat</strong>.</p>
        
        <p><strong>Trajetória Política</strong></p>
        <p>Sua carreira política teve início com um convite do falecido prefeito <strong>Eugênio Coutlo</strong>. A partir de então, assumiu diversos cargos de destaque na administração pública:</p>
        
        <p><strong>1989-1992:</strong> Secretário de Cultura, Esportes e Turismo de Salto<br>
        <strong>1993-1996:</strong> Secretário de Cultura e Turismo de Itu<br>
        <strong>1997-2000:</strong> Primeiro mandato como vereador em Salto<br>
        <strong>2021-2024:</strong> Segundo mandato como vereador em Salto</p>
        
        <p>Durante seus mandatos, realizou diversos projetos e obras de grande impacto para a cidade.</p>
        
        <p><strong>Gestão como Prefeito de Salto</strong></p>
        <p><strong>2005:</strong> Eleito prefeito pela primeira vez com 57,89% dos votos, conduzindo um período de reconstrução e desenvolvimento.<br>
        <strong>2008:</strong> Reeleito com 80% dos votos, consolidando sua gestão com inúmeras realizações e conquistas.<br>
        <strong>2017:</strong> Reeleito novamente, dando continuidade ao trabalho em prol de Salto.<br>
        <strong>2025:</strong> Iniciando seu quarto mandato como prefeito, com o compromisso de transformar a cidade com dedicação e trabalho.<br>
        O slogan desta gestão é <strong>"Governar e Avançar"</strong>.</p>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>


</body>
<%- include('partials/footer.ejs') %>
