<%- include('partials/header.ejs') %>
<body>
  <div class="onother-header">
    <div class="header-content">
      <h1>Secretarias</h1>
      <h5>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </h5>
    </div>
  </div>
  <div class="container py-5">

    <div class="row justify-content-center">

      <!-- Card 1 -->
      <div class="col-3 info-vertical-card shadow m-2">
        <div class="card-container">
          <div class="card-image">
            <img src="/img/secretario01.jpg" class="img-secretary" alt="Secretário 01" />
          </div>
          <div class="card-info">
            <h5>Maria Helena</h5>
            <ul>
              <li>39 anos</li>
              <li>Advogada</li>
              <li>Vice Presidente da SIPA</li>
              <li>10 anos no serviço público</li>
            </ul>
            <button class="btn-see-more" data-bs-toggle="modal" data-bs-target="#modalSecretario01">Ver mais</button>
          </div>
        </div>
        <h5 class="text-center mt-3 txt-secretary-title">Administração</h5>
      </div>

      <!-- Card 2 -->
      <div class="col-3 info-vertical-card shadow m-2">
        <div class="card-container">
          <div class="card-image">
            <img
              src="/img/secretario02.jpg"  class="img-secretary" alt="Secretário 02"/>
          </div>
          <div class="card-info">
            <h5>José Pedro</h5>
            <ul>
              <li>50 anos</li>
              <li>Pós Graduado em Gestão de Pessoas</li>
              <li>Pai de 2 filhos</li>
            </ul>
            <button class="btn-see-more" data-bs-toggle="modal" data-bs-target="#modalSecretario02">Ver mais</button>
          </div>
        </div>
        <h5 class="text-center mt-3 txt-secretary-title">Saúde</h5>
      </div>

      <!-- Card 3 -->
      <div class="col-3 info-vertical-card shadow m-2">
        <div class="card-container">
          <div class="card-image">
            <img src="/img/secretario03.jpg" class="img-secretary" alt="Secretário 03"/>
          </div>
          <div class="card-info">
            <h5>José Lemos</h5>
            <ul>
              <li>Lorem ipsum dolor</li>
              <li>Lorem ipsum</li>
              <li>VLorem ipsum dolor ipsum dolor</li>
            </ul>
            <button class="btn-see-more" data-bs-toggle="modal" data-bs-target="#modalSecretario03">Ver mais</button>
          </div>
        </div>
        <h5 class="text-center mt-3 txt-secretary-title">Esportes</h5>
      </div>

      <!-- Card 4 -->
      <div class="col-3 info-vertical-card shadow m-2">
        <div class="card-container">
          <div class="card-image">
            <img src="/img/secretario04.jpg" class="img-secretary" alt="Secretário 04"/>
          </div>
          <div class="card-info">
            <h5>Ana Maria</h5>
            <ul>
              <li>Lorem ipsum dolor</li>
              <li>Lorem ipsum</li>
              <li>VLorem ipsum dolor ipsum dolor</li>
            </ul>
            <button class="btn-see-more" data-bs-toggle="modal" data-bs-target="#modalSecretario04">Ver mais</button>
          </div>
        </div>
        <h5 class="text-center mt-3 txt-secretary-title">Cultura</h5>
      </div>
    </div>
  </div>

  <!-- MODAL VER MAIS SECRETARIOS -->
  <!-- Modal -->
  <!-- Card 01 -->
  <div class="modal fade custom-modal" id="modalSecretario01" tabindex="-1" aria-labelledby="modalSecretario01Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title-container">
            <h5 class="modal-title" id="modalSecretario01Label">Maria Helena</h5>
            <p class="modal-subtitle">Secretária de Administração</p> <!-- Cargo abaixo do nome -->
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p><strong>Idade:</strong> 39 anos</p>
          <p><strong>Profissão:</strong> Advogada</p>
          <p><strong>Cargo:</strong> Vice Presidente da SIPA</p>
          <p><strong>Histórico:</strong> 10 anos no serviço público.</p>
          <p>Maria Helena é uma profissional dedicada, que busca transformar a sociedade com seus conhecimentos jurídicos.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Card 02 -->
  <div class="modal fade custom-modal" id="modalSecretario02" tabindex="-1" aria-labelledby="modalSecretario02Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title-container">
            <h5 class="modal-title" id="modalSecretario02Label">Jose Pedro</h5>
            <p class="modal-subtitle">Secretário de Saúde</p> <!-- Cargo abaixo do nome -->
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p><strong>Idade:</strong> Lorem ipsum</p>
          <p><strong>Profissão:</strong> Lorem ipsum </p>
          <p><strong>Cargo:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
          <p><strong>Histórico:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam sapiente, quidem nihil vel voluptates quis modi sed repellat minus repudiandae assumenda illum quas maxime explicabo facilis consectetur sint adipisci asperiores.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Card 3 -->
  <div class="modal fade custom-modal" id="modalSecretario03" tabindex="-1" aria-labelledby="modalSecretario03Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title-container">
            <h5 class="modal-title" id="modalSecretario03Label">Jose Lemos</h5>
            <p class="modal-subtitle">Secretário de Esportes</p> <!-- Cargo abaixo do nome -->
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p><strong>Idade:</strong> Lorem ipsum</p>
          <p><strong>Profissão:</strong> Lorem ipsum </p>
          <p><strong>Cargo:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
          <p><strong>Histórico:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam sapiente, quidem nihil vel voluptates quis modi sed repellat minus repudiandae assumenda illum quas maxime explicabo facilis consectetur sint adipisci asperiores.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Card 4 -->
  <div class="modal fade custom-modal" id="modalSecretario04" tabindex="-1" aria-labelledby="modalSecretario04Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title-container">
            <h5 class="modal-title" id="modalSecretario04Label">Ana Maria</h5>
            <p class="modal-subtitle">Secretária de Cultura</p> <!-- Cargo abaixo do nome -->
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p><strong>Idade:</strong> Lorem ipsum</p>
          <p><strong>Profissão:</strong> Lorem ipsum </p>
          <p><strong>Cargo:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
          <p><strong>Histórico:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam sapiente, quidem nihil vel voluptates quis modi sed repellat minus repudiandae assumenda illum quas maxime explicabo facilis consectetur sint adipisci asperiores.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>



</body>
<%- include('partials/footer.ejs') %>
