<%- include('partials/header.ejs') %>
<body>
  <div class="onother-header">
    <div class="header-content">
      <h1>Secretarias</h1>
      <h5>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </h5>
    </div>
  </div>
  <div class="container py-5">
    <div class="row justify-content-center">

      <!-- Card 1 -->
      <div class="col-3 info-vertical-card shadow m-2">
        <div class="card-container">
          <div class="card-image">
            <img src="/img/secr_01.png" class="img-secretary" alt="Secretário 01" />
          </div>
          <div class="card-info">
            <div class="m-auto">
              <h5>Claúdia Cardoso Barichelo Rodrigues</h5>
              <button class="btn-see-more" data-bs-toggle="modal" data-bs-target="#modalSecretario01">Ver mais</button>
            </div>
           
          </div>
        </div>
        <h5 class="text-center mt-3 txt-secretary-title">Ação Social e Cidadania</h5>
      </div>

      <!-- Card 2 -->
      <div class="col-3 info-vertical-card shadow m-2">
        <div class="card-container">
          <div class="card-image">
            <img
              src="/img/secr_02.png"  class="img-secretary" alt="Secretário 02"/>
          </div>
          <div class="card-info">
            <div class="m-auto">
              <h5>Michel Hulmann</h5>
              <button class="btn-see-more" data-bs-toggle="modal" data-bs-target="#modalSecretario02">Ver mais</button>
            </div>
          </div>
        </div>
        <h5 class="text-center mt-3 txt-secretary-title">Administração e Governo Digital</h5>
      </div>

      <!-- Card 3 -->
      <div class="col-3 info-vertical-card shadow m-2">
        <div class="card-container">
          <div class="card-image">
            <img src="/img/secr_03.png" class="img-secretary" alt="Secretário 03"/>
          </div>
          <div class="card-info">
            <div class="m-auto">
              <h5>Sandro Bergamo</h5>
              <button class="btn-see-more" data-bs-toggle="modal" data-bs-target="#modalSecretario03">Ver mais</button>
            </div>
          </div>
        </div>
        <h5 class="text-center mt-3 txt-secretary-title">Cultura</h5>
      </div>

      <!-- Card 4 -->
      <div class="col-3 info-vertical-card shadow m-2">
        <div class="card-container">
          <div class="card-image">
            <img src="/img/secr_04.png" class="img-secretary" alt="Secretário 04"/>
          </div>
          <div class="card-info">
            <div class="m-auto">
              <h5>Nicolau Iusif Santarém</h5>
              <button class="btn-see-more" data-bs-toggle="modal" data-bs-target="#modalSecretario04">Ver mais</button>
            </div>
          </div>
        </div>
        <h5 class="text-center mt-3 txt-secretary-title">Defesa Social</h5>
      </div>
    </div>

    <div class="row justify-content-center">
      <!-- Card 5 -->
      <div class="col-3 info-vertical-card shadow m-2">
        <div class="card-container">
          <div class="card-image">
            <img src="/img/secr_05.png" class="img-secretary" alt="Secretário 05" />
          </div>
          <div class="card-info">
            <div class="m-auto">
              <h5>Fábio Jorge</h5>
              <button class="btn-see-more" data-bs-toggle="modal" data-bs-target="#modalSecretario05">Ver mais</button>
            </div>
          </div>
        </div>
        <h5 class="text-center mt-3 txt-secretary-title">Desenvolvimento Econômico, Trabalho, Tecnologia e Inovação</h5>
      </div>

      <!-- Card 6 -->
      <div class="col-3 info-vertical-card shadow m-2">
        <div class="card-container">
          <div class="card-image">
            <img src="/img/secr_06.png" class="img-secretary" alt="Secretário 06" />
          </div>
          <div class="card-info">
            <div class="m-auto">
              <h5>Márcia Mendes Villegas</h5>
              <button class="btn-see-more" data-bs-toggle="modal" data-bs-target="#modalSecretario06">Ver mais</button>

            </div>
          </div>
        </div>
        <h5 class="text-center mt-3 txt-secretary-title">Desenvolvimento Urbano</h5>
      </div>

      <!-- Card 7 -->
      <div class="col-3 info-vertical-card shadow m-2">
        <div class="card-container">
          <div class="card-image">
            <img src="/img/secr_07.png" class="img-secretary" alt="Secretário 07"/>
          </div>
          <div class="card-info">
            <div class="m-auto">
              <h5>Fernanda Cristina de Almeida Barbutto</h5>
              <button class="btn-see-more" data-bs-toggle="modal" data-bs-target="#modalSecretario07">Ver mais</button>
            </div>
          </div>
        </div>
        <h5 class="text-center mt-3 txt-secretary-title">Educação</h5>
      </div>

      <!-- Card 8 -->
      <div class="col-3 info-vertical-card shadow m-2">
        <div class="card-container">
          <div class="card-image">
            <img src="/img/secr_08.png" class="img-secretary" alt="Secretário 08"/>
          </div>
          <div class="card-info">
            <div class="m-auto">
              <h5>Eliano Apolinário de Paula</h5>
              <button class="btn-see-more" data-bs-toggle="modal" data-bs-target="#modalSecretario08">Ver mais</button>
            </div>
            
          </div>
        </div>
        <h5 class="text-center mt-3 txt-secretary-title">Esportes e Lazer</h5>
      </div>
    </div>

    <div class="row justify-content-center">
      <!-- Card 9 -->
      <div class="col-3 info-vertical-card shadow m-2">
        <div class="card-container">
          <div class="card-image">
            <img src="/img/secr_09.png" class="img-secretary" alt="Secretário 09" />
          </div>
          <div class="card-info">
            <div class="m-auto">
              <h5>Claúdia Eliane Pastorello Rodrigues</h5>
              <button class="btn-see-more" data-bs-toggle="modal" data-bs-target="#modalSecretario09">Ver mais</button>
            </div>
          </div>
        </div>
        <h5 class="text-center mt-3 txt-secretary-title">Finanças</h5>
      </div>

      <!-- Card 10 -->
      <div class="col-3 info-vertical-card shadow m-2">
        <div class="card-container">
          <div class="card-image">
            <img src="/img/secr_10.png" class="img-secretary" alt="Secretário 10" />
          </div>
          <div class="card-info">
            <div class="m-auto">
              <h5>Mário Gilmar Mazzetto</h5>
              <button class="btn-see-more" data-bs-toggle="modal" data-bs-target="#modalSecretario10">Ver mais</button>
            </div>
          </div>
        </div>
        <h5 class="text-center mt-3 txt-secretary-title">Governo</h5>
      </div>

      <!-- Card 11 -->
      <div class="col-3 info-vertical-card shadow m-2">
        <div class="card-container">
          <div class="card-image">
            <img src="/img/secr_11.png" class="img-secretary" alt="Secretário 11"/>
          </div>
          <div class="card-info">
            <div class="m-auto">
              <h5>José Antônio Luciano</h5>
              <button class="btn-see-more" data-bs-toggle="modal" data-bs-target="#modalSecretario11">Ver mais</button>
            </div>
          </div>
        </div>
        <h5 class="text-center mt-3 txt-secretary-title">Meio Ambiente</h5>
      </div>

      <!-- Card 12 -->
      <div class="col-3 info-vertical-card shadow m-2">
        <div class="card-container">
          <div class="card-image">
            <img src="/img/secr_12.png" class="img-secretary" alt="Secretário 12"/>
          </div>
          <div class="card-info">
            <div class="m-auto">
              <h5>Felipe Kormann Stefani</h5>
              <button class="btn-see-more" data-bs-toggle="modal" data-bs-target="#modalSecretario12">Ver mais</button>
            </div>
          </div>
        </div>
        <h5 class="text-center mt-3 txt-secretary-title">Jurídico</h5>
      </div>
    </div>

    <div class="row justify-content-center">
      <!-- Card 13 -->
      <div class="col-3 info-vertical-card shadow m-2">
        <div class="card-container">
          <div class="card-image">
            <img src="/img/secr_13.png" class="img-secretary" alt="Secretário 13" />
          </div>
          <div class="card-info">
            <div class="m-auto">
              <h5>João De Conti Neto</h5>
              <button class="btn-see-more" data-bs-toggle="modal" data-bs-target="#modalSecretario13">Ver mais</button>
            </div>
          </div>
        </div>
        <h5 class="text-center mt-3 txt-secretary-title">Obras e Serviços Públicos</h5>
      </div>

      <!-- Card 14 -->
      <div class="col-3 info-vertical-card shadow m-2">
        <div class="card-container">
          <div class="card-image">
            <img src="/img/secr_14.png" class="img-secretary" alt="Secretário 14" />
          </div>
          <div class="card-info">
            <div class="m-auto">
              <h5>Fernando Amâncio Camargo</h5>
              <button class="btn-see-more" data-bs-toggle="modal" data-bs-target="#modalSecretario14">Ver mais</button>
            </div>
          </div>
        </div>
        <h5 class="text-center mt-3 txt-secretary-title">Saúde</h5>
      </div>

      <!-- Card 15 -->
      <div class="col-3 info-vertical-card shadow m-2">
        <div class="card-container">
          <div class="card-image">
            <img src="/img/secr_15.png" class="img-secretary" alt="Secretário 15"/>
          </div>
          <div class="card-info">
            <div class="m-auto">
              <h5>Iara Gonzaga Bortoluci</h5>
              <button class="btn-see-more" data-bs-toggle="modal" data-bs-target="#modalSecretario15">Ver mais</button>
            </div>
          </div>
        </div>
        <h5 class="text-center mt-3 txt-secretary-title">Turismo</h5>
      </div>

      <!-- Card 16 -->
      <div class="col-3 info-vertical-card shadow m-2">
        <div class="card-container">
          <div class="card-image">
            <img src="/img/secr_16.png" class="img-secretary" alt="Secretário 16"/>
          </div>
          <div class="card-info">
            <div class="m-auto">
              <h5>Ângelo César Turqui Piva</h5>
              <button class="btn-see-more" data-bs-toggle="modal" data-bs-target="#modalSecretario16">Ver mais</button>
            </div>
            
          </div>
        </div>
        <h5 class="text-center mt-3 txt-secretary-title">Superintendente do SAAE</h5>
      </div>
    </div>
    
  </div>

  <!-- MODAL VER MAIS SECRETARIOS -->
  <!-- Modal -->
  <!-- Card 01 -->
  <div class="modal fade custom-modal" id="modalSecretario01" tabindex="-1" aria-labelledby="modalSecretario01Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title-container">
            <h5 class="modal-title" id="modalSecretario01Label">Cláudia Cardoso Barichello Rodrigues</h5>
            <p class="modal-subtitle">Secretária de Ação Social e Cidadania</p> <!-- Cargo abaixo do nome -->
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Formada em Serviço Social pela Faculdade Salesiana Dom Bosco e em Direito pelo Instituto Superior de Ciências Aplicadas. </p>
          <p>Tem especialização em Administração de Recursos Humanos e em Direito Público e Privado pela Faculdade Damásio de Jesus.</p>
          <p> Já atuou em vários setores como assistente social e encarregada de recursos humanos; foi professora no CEUNSP - Centro Universitário Nossa Senhora do Patrocínio e na FIG UNIMESP; e coordenadora e professora de Polo do Projeto NOVOTEC/EPP na FIEC de Indaiatuba.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Card 02 -->
  <div class="modal fade custom-modal" id="modalSecretario02" tabindex="-1" aria-labelledby="modalSecretario02Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title-container">
            <h5 class="modal-title" id="modalSecretario02Label">Michel Hulmann</h5>
            <p class="modal-subtitle">Secretário de Administração e Governo Digital</p> <!-- Cargo abaixo do nome -->
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Graduado em Ciências Sociais pela Universidade de São Paulo (USP) e em Direito pela Faculdade de Direito de Itu (FADITU).</p>
          <p>É pós-graduado em Licitações e Contratos e atualmente cursa mestrado em Administração Pública.</p>
          <p>Procurador de carreira do Serviço Autônomo de Água e Esgotos de Salto (SAAE) e na Prefeitura de Salto já exerceu os cargos de Secretário de Administração e Governo Digital, Chefe de Gabinete, Diretor de Recursos Humanos e Corregedor da Guarda Civil Municipal.</p>
          <p>No SAAE, ocupou as funções de Chefe de Gabinete, Diretor Administrativo, Técnico e Comercial.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Card 3 -->
  <div class="modal fade custom-modal" id="modalSecretario03" tabindex="-1" aria-labelledby="modalSecretario03Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title-container">
            <h5 class="modal-title" id="modalSecretario03Label">Sandro Bergamo</h5>
            <p class="modal-subtitle">Secretário de Cultura</p> <!-- Cargo abaixo do nome -->
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Há mais de 30 anos atua na área cultural como diretor, promotor de eventos artísticos, produtor de moda, estilista e preparador de elenco, além de ator profissional.</p>
          <p>Foi presidente do conselho da Associação Cultural de Salto e do Teatro e Espaço Cultural Montécnica. </p>
          <p>Foi coordenador do Centro de Educação e Cultura Anselmo Duarte – CEC.</p>
          <p>Atuou como Secretário Municipal de Cultura entre 2017 a 2020.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Card 4 -->
  <div class="modal fade custom-modal" id="modalSecretario04" tabindex="-1" aria-labelledby="modalSecretario04Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title-container">
            <h5 class="modal-title" id="modalSecretario04Label">Nicolau Iusif Snatarém</h5>
            <p class="modal-subtitle">Secretário de Defesa Social</p> <!-- Cargo abaixo do nome -->
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Advogado, formado pela Faculdade de Direito de Itu em 1982.</p>
          <p> pós-graduado em Direito Processual Penal pela mesma faculdade.</p>
          <p>Em 1984 foi aprovado no concurso de Delegado de Polícia, tornando-se, a época, o Delegado de Polícia mais novo do Estado de São Paulo.</p>
          <p>Atuou por 38 anosna Polícia Civil do Estado de São Paulo.</p>
          <p>Fez diversos cursos de especialização e atualização pela Academia de Polícia e atuou como delegado titular diversas cidades, incluindo Salto.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Card 5 -->
  <div class="modal fade custom-modal" id="modalSecretario05" tabindex="-1" aria-labelledby="modalSecretario05Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title-container">
            <h5 class="modal-title" id="modalSecretario05Label">Fábio Jorge</h5>
            <p class="modal-subtitle">Secretário de Desenvolvimento Econômico, Trabalho, Tecnologia e Inovação</p> <!-- Cargo abaixo do nome -->
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Economista, formado pela Puc-Campinas, trabalhou no mercado financeiro e foi professor da Escola Humanidade, a reconhecida “Guardinha”.</p>
          <p>Em 2017, durante o terceiro mandato do Prefeito Geraldo Garcia, aos 21 anos de idade, assumiu o cargo de diretor na Secretaria de Desenvolvimento Econômico de Salto.</p>
          <p>Ex-veradorador (2021-2024). É o atual vice-prefeito de Salto e comanda a secretaria.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Card 6 -->
  <div class="modal fade custom-modal" id="modalSecretario06" tabindex="-1" aria-labelledby="modalSecretario06Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title-container">
            <h5 class="modal-title" id="modalSecretario06Label">Márica Mendes Villegas</h5>
            <p class="modal-subtitle">Secretária de Desenvolvimento Urbano</p> <!-- Cargo abaixo do nome -->
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Graduada em Engenheira civil e sanitarista, com Pós graduação em Meio Ambiente e em Engenharia de Segurança do Trabalho.</p>
          <p>Mais de 20 anos de experiência em gestão de obras, passando por cargos como Diretora de Vigilância Sanitária e dos Departamentos de Projetos Estratégicos e Planejamento Urbano.  </p>
          <p> Já ocupou o cardo de Secretária de Planejamento em Itupeva (SP) e também em Salto.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Card 7 -->
  <div class="modal fade custom-modal" id="modalSecretario07" tabindex="-1" aria-labelledby="modalSecretario07Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title-container">
            <h5 class="modal-title" id="modalSecretario07Label">Fernada Cristina de Almeida Barbutto</h5>
            <p class="modal-subtitle">Secretária de Educação</p> <!-- Cargo abaixo do nome -->
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Professora da Rede Municipal de Salto há 32 anos, é Pedagoga com habilitação em Gestão Escolar e Pós Graduada em Psicopedagogia com Contexto Inclusivo.</p>
          <p>Durante sua trajetória na educação pública saltense, ocupou os cargos de Coordenadora Pedagógica e Assistente de Direção, Diretora de Escola, Chefe de Gabinete da Secretaria da Educação e Secretária de Educação.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Card 8 -->
  <div class="modal fade custom-modal" id="modalSecretario08" tabindex="-1" aria-labelledby="modalSecretario08Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title-container">
            <h5 class="modal-title" id="modalSecretario08Label">Eliano Apolinário de Paula</h5>
            <p class="modal-subtitle">Secretário de Esportes e Lazer</p> <!-- Cargo abaixo do nome -->
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Vereador em Salto por cinco mandatos, sendo presidente da Câmara entre 2011 e 2012.</p>
          <p>Liderança ativa nas questões esportivas da cidade.</p>
          <p>Ocupou cargos executivos em entidades e clubes da cidade como: Presidente dos Clube Atlético Bela Vista, Clube dos Veteranos Saltense, Guarani Saltense Atlético Clube, além de diretor profissional de futebol da Associação Atlética Saltense e diretor de futebol feminino do Palmeiras Ceunsp.</p>
          <p>Já ocupou o cargo de Secretário Municipal de Esportes.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Card 9 -->
  <div class="modal fade custom-modal" id="modalSecretario09" tabindex="-1" aria-labelledby="modalSecretario09Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title-container">
            <h5 class="modal-title" id="modalSecretario09Label">Claúdia Eliane PAstorello Rodrigues</h5>
            <p class="modal-subtitle">Secretária de Finanças</p> <!-- Cargo abaixo do nome -->
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Formada em Direito pela Faculdade de Direito de Itu e Técnico em Contabilidade.</p>
          <p>Servidora concurasa da Prefeitura de Salto desde 1990, na Secretaria da Saúde até dezembro de 2020.</p>
          <p>Atuou em diversas áreas como Processos de Acreditação, Avaliação e Auditoria de Sistemas e Serviços Públicos de Saúde do SUS, novas normas para execução e prestação de Contas de Convênio e de Contratos de Repasse, entre outros.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Card 10 -->
  <div class="modal fade custom-modal" id="modalSecretario10" tabindex="-1" aria-labelledby="modalSecretario10Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title-container">
            <h5 class="modal-title" id="modalSecretario10Label">Mário Gilmar Mazzeto</h5>
            <p class="modal-subtitle">Secretário de Governo</p> <!-- Cargo abaixo do nome -->
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Advogado, formado pela Faculdade de Direito de Itu.</p>
          <p>Atuou durante 11 anos na Empresa Eucatex, em escritórios de advocacia e foi Diretor do DERSA/DER em São Paulo.</p>
          <p>Já ocupou a função de Secretário de Governo em 1997, nos períodos 2005 - 2012 e 2017-2020.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Card 11 -->
  <div class="modal fade custom-modal" id="modalSecretario11" tabindex="-1" aria-labelledby="modalSecretario11Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title-container">
            <h5 class="modal-title" id="modalSecretario11Label">José Antônio Luciano</h5>
            <p class="modal-subtitle">Secretário de Meio Ambiente</p> <!-- Cargo abaixo do nome -->
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Engenheiro Florestal, formado pela Unifenas (MG) e pós-graduado em Gestão Agroambiental.</p>
          <p>Larga experiência na na iniciativa privada, em cargos como de gerente florestal, operacional e industrial, além de professor universitário.</p>
          <p>Na Prefeitura de Salto, trabalhou como consultor em várias atividades e foi Chefe de Gabinete da Secretaria de Meio Ambiente.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Card 12 -->
  <div class="modal fade custom-modal" id="modalSecretario12" tabindex="-1" aria-labelledby="modalSecretario12Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title-container">
            <h5 class="modal-title" id="modalSecretario12Label">Felipe Kormann Stefani</h5>
            <p class="modal-subtitle">Secretário de Assuntos Jurídicos</p> <!-- Cargo abaixo do nome -->
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Advogado, graduado pela Faculdade de Direito de Itu. </p>
          <p>Já atuou em escritórios de advocacia.</p>
          <p>Foi assessor jurídico no Hospital Nossa Senhora do Mont Serrat.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Card 13 -->
  <div class="modal fade custom-modal" id="modalSecretario13" tabindex="-1" aria-labelledby="modalSecretario13Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title-container">
            <h5 class="modal-title" id="modalSecretario13Label">João de Conti Neto</h5>
            <p class="modal-subtitle">Secretário de Obras de Serviços Públicos</p> <!-- Cargo abaixo do nome -->
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>João De Conti tem ampla atuação na iniciativa privada e pública.</p>
          <p>Já foi secretário municipal e tem trabalhos relevantes em gestão de obras, licenciamentos e parcerias público- privadas (PPP). </p>
          <p> Formação em Engenharia Agronômica, com Especialização em Gestão Ambiental.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Card 14 -->
  <div class="modal fade custom-modal" id="modalSecretario14" tabindex="-1" aria-labelledby="modalSecretario14Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title-container">
            <h5 class="modal-title" id="modalSecretario14Label">Fernando Amâncio Camargo</h5>
            <p class="modal-subtitle">Secretário de Saúde</p> <!-- Cargo abaixo do nome -->
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Iniciou sua carreira no setor público na cidade de Embu das Artes onde atuou na área contábil das Secretarias de Saúde e de Finanças.</p>
          <p>Também foi Secretário Adjunto de Finanças e Secretário de Administração.</p>
          <p>É Graduado em Ciências Contábeis pela Faculdade de Economia São Luís e Pós-Graduado em Gerente de Cidades pela FAAP.</p>
          <p>Trabalhou também nas Prefeituras de Carapicuíba, Bragança Paulista e Taubaté, atuando à frente da Secretaria de Finanças.</p>
          <p>Em 2017, durante o mandato de Geraldo Garcia, foi nomeado na Prefeitura de Salto, onde atuou como Secretário de Administração, de Finanças e de Saúde.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Card 15 -->
  <div class="modal fade custom-modal" id="modalSecretario15" tabindex="-1" aria-labelledby="modalSecretario15Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title-container">
            <h5 class="modal-title" id="modalSecretario15Label">Iara Gonzaga Bortoluci</h5>
            <p class="modal-subtitle">Secretária de Turismo</p> <!-- Cargo abaixo do nome -->
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Jornalista, formada pela Puc-Campinas, atuou em mídia impressa (jornais e revistas) e televisiva, digital e assessoria empresarial. </p>
          <p>Há mais de 15 anos trabalha em comunicação pública e faz parte da equipe de comunicação do Prefeito Geraldo Garcia desde o seu primeiro mandato, na assessoria de imprensa da Prefeitura e como diretora municipal de comunicação.</p>
          <p>Nestes anos, adquiriu profundo conhecimento dos planos e estruturas de turismo do município.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

   <!-- Card 16 -->
   <div class="modal fade custom-modal" id="modalSecretario16" tabindex="-1" aria-labelledby="modalSecretario16Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title-container">
            <h5 class="modal-title" id="modalSecretario16Label">Ângelo César Turqui Piva</h5>
            <p class="modal-subtitle">Superintendente do SAAE</p> <!-- Cargo abaixo do nome -->
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Formado em Administração de Empresas, Técnico em Química e pós-graduado em Direito Ambiental.</p>
          <p>Atuou por 10 anos na iniciativa privada e iniciou sua carreira pública na Secretaria de Obras e Serviços Públicos de Salto, onde assumiu os cargos de chefe de gabinete e também de Secretário Municipal da pasta, além de Secretário de Meio Ambiente.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

</body>
<%- include('partials/footer.ejs') %>
