<%- include('partials/header.ejs') %>
<body>
  <div class="onother-header">
    <div class="header-content">
      <h1>Símbolos Oficiais</h1>
      <h5>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </h5>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="events-this-month col-lg-3">
        <h2>BRASÃO</h2>
        <div class="events-container">
          <!-- Exemplo de eventos -->
          <div class="event-item" data-aos="fade-up">
            <img src="/img/brasao.jpg" class="img-symbols" alt="Braão Salto"/>
          </div>
          <div class="event-item" data-aos="fade-up">
            <button type="button" class="btn btn-see-more-symbols" data-bs-toggle="modal" data-bs-target="#modalBrasao">Ver mais</button>
          </div>
        </div>
      </div>
      <div class="events-this-month col-lg-3">
        <h2>BANDEIRA</h2>
        <div class="events-container">
          <!-- Exemplo de eventos -->
          <div class="event-item" data-aos="fade-up">
            <img src="/img/bandeira.gif" class="img-symbols-flag" alt="Bandeira Salto"/>
          </div>
          <div class="event-item" data-aos="fade-up">
            <button type="button" class="btn btn-see-more-symbols" data-bs-toggle="modal" data-bs-target="#modalBandeira">Ver mais</button>
          </div>
        </div>
      </div>
      <div class="events-this-month col-lg-3">
        <h2>HINO</h2>
        <div class="events-container">
          <!-- Exemplo de eventos -->
          <div class="event-item" data-aos="fade-up">
            <img src="/img/hino.jpg" class="img-symbols-flag" alt="Hino Salto"/>
          </div>
          <div class="event-item" data-aos="fade-up">
            <button type="button" class="btn btn-see-more-symbols" data-bs-toggle="modal" data-bs-target="#modalHino">Ver mais</button>
          </div>
      
        </div>
      </div>
    </div>
  </div>

<!-- MODAL BRASÃO -->
<div class="modal fade custom-modal" id="modalBrasao" tabindex="-1" aria-labelledby="modalBrasaoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title-container">
          <h4>BRASÃO DE ARMAS MUNICIPAL</h4>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>O Brasão de Armas do Município de Salto, de autoria do heraldista e vexilólogo, Dr. Lauro Ribeiro Escobar, assim se descreve: escudo ibérico, de blau royal, com uma flor de liz encimada de dois taperás voantes, a de dextra voltada, encimando uma faixeta ondada, abaixada, tudo de prata e bordadura gironada de foles e de ouro de oito peças, carregada de quatro vieiras e quatro estrelas de seis raios, de um no outro; o escudo é encimado de coroa mural de prata, de oito torres, suas portas abertas de goles, tem como suportes, à dextra, um ramo de cafeeiro folhado e frutado, e à sinistra, uma haste de cana de açúcar folhada, ambos ao natural e listel de blau, com a divisa “Labor Omnia Vincit”, de prata.</p>
        <br>
        <p> <strong>O Brasão de Armas tem a seguinte interpretação:</strong></p>
        <p>* O escudo ibérico era usado em Portugal à época do descobrimento do Brasil e sua adoção evoca os primeiros colonizadores e desbravadores da nossa Pátria;</p>
        <p>* A cor blau (azul) royal do campo do escudo, constitui representativo heráldico de justiça, formosura, doçura, vigilância, serenidade, nobreza, constância, firmeza incorruptível, dignidade, zelo e lealdade, referindo-se aos atributos dos administradores e munícipes, que no firme, incansável e diuturno trabalho, promovem o progresso do Município, aludindo, outrossim, às belezas naturais da região;</p>
        <p>* A flor de liz é o atributo de Nossa Senhora, reverente menção à Santíssima Padroeira do Município, Nossa Senhora do Monte Serrat, e, por extensão, à primeira capela mandada construir pelo capitão Antônio Vieira Tavares, marco da fixação do homem ao local e do berço de Salto;</p>
        <p>* Os taperás, são emblema heráldico de afeição à própria terra e de igualdade entre os cidadãos, sendo tais aves o símbolo de Salto, intimamente ligadas às tradições locais;</p>
        <p>* A faixeta ondada, representa os curso de água, o histórico rio Tietê, cujas margens tem Salto o privilégio de se situar, e, bem assim, afirma a riqueza hidrográfica do Município, com o Rio Jundiaí, e numerosos córregos e ribeirões que irrigam as terras ubérrimas do Município;</p>
        <p>* O metal prata tem o significado de felicidade, amizade, integridade, pureza, temperança, verdade, franqueza e formosura, a realçar o clima de harmonia e compreensão de que desfrutam os Munícipes, e, novamente, as belezas naturais da região;</p>
        <p>* Compondo a bordadura, as vieiras de ouro sobre goles (vermelho) aludem às armas da família Vieira e as estrelas de seis pontas de goles (vermelho) sobre ouro, às da família Tavares, justa homenagem ao capitão Antônio Vieira Tavares, o fundador de Salto, que erigiu a primeira capela no local e doou de suas terras, possibilitando a formação do primitivo núcleo que deu lugar ao nosso Município;</p>
        <p>* A vieira é o símbolo da paciência e contentamento; a estrela, de guia seguro; esperança de sucesso numa empresa arriscada, aspiração a coisas superiores e a ações sublimes, luz nas trevas da noite; o metal ouro, é emblema de esplendor, riqueza, generosidade, nobreza, glória, poder, força, fé, prosperidade, soberania e mando, e a cor goles (vermelho), de audácia, valor, galhardia, intrepidez, nobreza conspícua, magnanimidade e honra;</p>
        <p>* A coroa mural é o símbolo da emancipação política, e, de prata, com oito torres, das quais unicamente cinco são visíveis, constitui a reservada às cidades; as portas abertas, proclamam o caráter hospitaleiro do povo de Salto e a cor goles, na posição em que se encontra na coroa mural e por ser no Brasil é identificada com o Direito e a Justiça, está a significar que Salto é cabeça de Comarca, como a dizer: “Dentro destas portas encontrareis a justiça”.</p>
        <p>* O ramo de cafeeiro e a haste de cana de açúcar, produzindo, assinalam a fertilidade das generosas terras de Salto e os seus notáveis produtos agrícolas e que fizeram a prosperidade do Município, contribuindo, decisivamente, para que este atingisse o desenvolvimento atual;</p>
        <p>* A divisa “Labor Omnia Vincit”, é a tradicional, adotada desde os idos de 1931, quando Salto teve seu primeiro emblema, a significar “o trabalho tudo vence”, uma afirmação de fé dos Munícipes na força do trabalho.</p>
        <p>* A divisa “Labor Omnia Vincit”, é a tradicional, adotada desde os idos de 1931, quando Salto teve seu primeiro emblema, a significar “o trabalho tudo vence”, uma afirmação de fé dos Munícipes na força do trabalho.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL BANDEIRA-->
<div class="modal fade custom-modal" id="modalBandeira" tabindex="-1" aria-labelledby="modalBandeiraLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title-container">
          <h4>BANDEIRA MUNICIPAL DE SALTO</h4>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          A Bandeira Municipal de Salto é a tradicional, com as alterações agora introduzidas, assim se descreve: retangular, de azul royal, com uma pala de branco, carregada do Brasão de Armas. 
          <br>Tem a Bandeira 14 M (quatorze módulos) de altura, por 20 M (vinte módulos) de comprimento; a pala, ocupando a região central de 7 M (sete módulos) de comprimento e o Brasão de Armas tem 6,5 M (seis módulos e meio) de altura. 
          <br>O simbolismo das cores da Bandeira é o mesmo referido ao Brasão de Armas Municipal.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL HINO-->
<div class="modal fade custom-modal" id="modalHino" tabindex="-1" aria-labelledby="modalHinoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title-container">
          <h4>BANDEIRA MUNICIPAL DE SALTO</h4>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4>HINO DA CIDADE DE SALTO</h4>
        <p><strong>Salto Canção</strong></p>
        <p>
          Todos cantam sua terra, <br>
          também vou cantar a minha, <br>
          Nestes versos de louvor. <br>
          E, pulsando minha lira, <br>
          Vou fazê-la uma rainha, <br>
          Um poema de amor. <br>
          <br>
          Seu regato é mais alegre, <br>
          Há em suas noites mais estrelas <br>
          E em seus frutos mais sabor. <br>
          Suas várzeas são mais verdes, <br>
          Suas tardes mais serenas, <br>
          Tem suas matas mais rumor. <br>
          <br>
          <strong>
            REFRÃO: <br>
            Salto! <br>
            Da linda cascata, <br>
            Das praças floridas, <br>
            Dos bandos de taperás. <br>
            Salto! <br>
            Que eles encantam, <br>
            voando e cantando <br>
            Pra lá e pra cá. <br>
          </strong>
          <br>
          Por aqui os bandeirantes, <br>
          Procurando diamantes, <br>
          Se embrenhavam no sertão. <br>
          E assim foram alargando <br>
          Os imensos horizontes <br>
          Desta querida nação. <br>
          <strong>
            REFRÃO: <br>
            Salto! <br>
            Da linda cascata, <br>
            Das praças floridas, <br>
            Dos bandos de taperás. <br>
            Salto! <br>
            Que eles encantam, <br>
            voando e cantando <br>
            Pra lá e pra cá. <br>
          </strong>
          <br>
          Salve Salto tão singela, <br>
          Minha terra primorosa, <br>
          De que posso me orgulhar! <br>
          Salve Salto tão singela, <br>
          Minha terra tão formosa <br>
          Que eu não canso de exaltar. <br>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
</body>

<%- include('partials/footer.ejs') %>
