<%- include('partials/header.ejs') %>
<body>
  <div class="onother-header">
    <div class="header-content">
      <h1>Sobre Nós</h1>
      <h5>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </h5>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-between m-1">
      <div class="col-md-3 card-about d-flex align-items-center shadow">
        <img src="/img/sobre_populacao.png" alt="Imagem sobre população">
        <div class="card-text ms-3"> <!-- Novo contêiner para texto -->
          <h5 class="txt-secretary-title">População</h5>
          <p>150.000 habitantes</p>
          <p>(IBGE 2020)</p>
        </div>
      </div>
      <div class="col-md-3 card-about d-flex align-items-center shadow">
        <img src="/img/sobre_fundacao.png" alt="Imagem sobre fundação">
        <div class="card-text ms-3"> <!-- Novo contêiner para texto -->
          <h5 class="txt-secretary-title">Fundação</h5>
          <p>16 de junho de 1698</p>
        </div>
      </div>
      <div class="col-md-3 card-about d-flex align-items-center shadow">
        <img src="/img/sobre_pib.png" alt="Imagem sobre PIB">
        <div class="card-text ms-3"> <!-- Novo contêiner para texto -->
          <h5 class="txt-secretary-title">Produto Interno Bruto (PIB)</h5>
          <p>R$ 5 bilhões</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-between m-1">
      <div class="col-md-3 card-about d-flex align-items-center shadow">
        <img src="/img/sobre_universidade.png" alt="Imagem sobre universidade">
        <div class="card-text ms-3"> <!-- Novo contêiner para texto -->
          <h5 class="txt-secretary-title">Universidades</h5>
          <p>2</p>
        </div>
      </div>
      <div class="col-md-3 card-about d-flex align-items-center shadow">
        <img src="/img/sobre_escola01.png" alt="Imagem sobre escola">
        <div class="card-text ms-3"> <!-- Novo contêiner para texto -->
          <h5 class="txt-secretary-title">Escolas Municipais</h5>
          <p>25</p>
        </div>
      </div>
      <div class="col-md-3 card-about d-flex align-items-center shadow">
        <img src="/img/sobre_escola02.png" alt="Imagem sobre escola">
        <div class="card-text ms-3"> <!-- Novo contêiner para texto -->
          <h5 class="txt-secretary-title">Escolas Estaduais</h5>
          <p>5</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-between m-1">
      <div class="col-md-3 card-about d-flex align-items-center shadow">
        <img src="/img/sobre_hospital.png" alt="Imagem sobre hospital">
        <div class="card-text ms-3"> <!-- Novo contêiner para texto -->
          <h5 class="txt-secretary-title">Hospitais</h5>
          <p>2</p>
        </div>
      </div>
      <div class="col-md-3 card-about d-flex align-items-center shadow">
        <img src="/img/sobre_posto.png" alt="Imagem sobre Posto de Saúde">
        <div class="card-text ms-3"> <!-- Novo contêiner para texto -->
          <h5 class="txt-secretary-title">Postos de Saúde</h5>
          <p>19</p>
        </div>
      </div>
      <div class="col-md-3 card-about d-flex align-items-center shadow">
        <img src="/img/sobre_empresas.png" alt="Imagem sobre empresas">
        <div class="card-text ms-3"> <!-- Novo contêiner para texto -->
          <h5 class="txt-secretary-title">Empresas Ativas</h5>
          <p>15.000</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center m-1">
      <div class="col-md-12 card-about d-flex align-items-center shadow">
        <p>
          Última atualização do site: 02 de dezembro de 2024
        <p>
      </div>
    </div>
  </div>
  
  
 
  </div>
</body>
<%- include('partials/footer.ejs') %>