<%- include('partials/header.ejs') %>
<body>
  <div class="onother-header">
    <div class="header-content">
      <h1>Sobre Nós</h1>
      <h5>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </h5>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-between m-1">
      <div class="col-md-3 card-about d-flex align-items-center shadow">
        <img src="/img/sobre_populacao.png" alt="Imagem sobre população">
        <div class="card-text ms-3"> <!-- Novo contêiner para texto -->
          <h5 class="txt-secretary-title">População</h5>
          <p>134.319 habitantes</p>
          <p>(IBGE 2022)</p>
        </div>
      </div>
      <div class="col-md-3 card-about d-flex align-items-center shadow">
        <img src="/img/sobre_fundacao.png" alt="Imagem sobre fundação">
        <div class="card-text ms-3"> <!-- Novo contêiner para texto -->
          <h5 class="txt-secretary-title">Fundação</h5>
          <p>16 de junho de 1698</p>
        </div>
      </div>
      <div class="col-md-3 card-about d-flex align-items-center shadow">
        <img src="/img/sobre_pib.png" alt="Imagem sobre PIB">
        <div class="card-text ms-3"> <!-- Novo contêiner para texto -->
          <h5 class="txt-secretary-title">Produto Interno Bruto (PIB)</h5>
          <p>R$ 77.029,01</p>
          <p>(IBGE 2021)</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-between m-1">
      <div class="col-md-3 card-about d-flex align-items-center shadow">
        <img src="/img/sobre_escola.png" alt="Imagem sobre escola">
        <div class="card-text ms-3"> <!-- Novo contêiner para texto -->
          <h5 class="txt-secretary-title">Taxa de escolarização de 6 a 14 anos de idade</h5>
          <p>98,4 %</p>
          <p>(IBGE 2010)</p>
        </div>
      </div>
      <div class="col-md-3 card-about d-flex align-items-center shadow">
        <img src="/img/sobre_escola01.png" alt="Imagem sobre escola">
        <div class="card-text ms-3"> <!-- Novo contêiner para texto -->
          <h5 class="txt-secretary-title">Escolas Ensino Fundamental</h5>
          <p>40</p>
          <p>(IBGE 2023)</p>
        </div>
      </div>
      <div class="col-md-3 card-about d-flex align-items-center shadow">
        <img src="/img/sobre_escola02.png" alt="Imagem sobre escola">
        <div class="card-text ms-3"> <!-- Novo contêiner para texto -->
          <h5 class="txt-secretary-title">Escolas Ensino Médio</h5>
          <p>16</p>
          <p>(IBGE 2023)</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-between m-1">
      <div class="col-md-3 card-about d-flex align-items-center shadow">
        <img src="/img/sobre_salario.png" alt="Imagem sobre salário">
        <div class="card-text ms-3"> <!-- Novo contêiner para texto -->
          <h5 class="txt-secretary-title">Salário médio mensal dos trabalhadores formais</h5>
          <p>R$ 2,8 salários mínimos </p>
          <p>(IBGE 2022)</p>
        </div>
      </div>
      <div class="col-md-3 card-about d-flex align-items-center shadow">
        <img src="/img/sobre_empenho.png" alt="Imagem sobre Empenho">
        <div class="card-text ms-3"> <!-- Novo contêiner para texto -->
          <h5 class="txt-secretary-title">Total de despesas brutas empenhadas</h5>
          <p>R$ 663.406.583,94</p>
          <p>(IBGE 2023)</p>
        </div>
      </div>
      <div class="col-md-3 card-about d-flex align-items-center shadow">
        <img src="/img/sobre_empresas.png" alt="Imagem sobre empresas">
        <div class="card-text ms-3"> <!-- Novo contêiner para texto -->
          <h5 class="txt-secretary-title">Total de receitas brutas realizadas</h5>
          <p>R$ 663.406.583,94</p>
          <p>(IBGE 2023)</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center m-1">
      <div class="col-md-12 card-about d-flex align-items-center shadow">
        <p>
          Última atualização do site: 25 de março de 2025
        <p>
      </div>
    </div>
  </div>
  
  
 
  </div>
</body>
<%- include('partials/footer.ejs') %>