<%- include('partials/header.ejs') %>
<body>
  <div class="onother-header">
    <div class="header-content">
      <h1>Fale Conosco</h1>
      <h5> Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.!
      </h5>
    </div>
  </div>
  <div class="container">
    <div class="row row-divider shadow" data-aos="fade-up">
      <div class="col text-center"> 
        <h5 class="text-center mt-3 txt-secretary-title">Paço Municipal - Abadia de São Noberto</h5>
        <p>
          Av. Tranquillo Gianinni, 861 - Dist. Ind. Santos Dumont - Salto/SP | CEP: 13329-600
        </p> 
        <p>
          CNPJ: 46.634.507/0001-06
        </p>
        <p>
          TELEFONE: (11) 4602-8500
        </p>
      </div>
    </div>
    <div class="row row-divider shadow">
      <div class="col-md-4">
        <p>
          <img src="/img/telefone.png" class="icon-whats" alt="Ícone whatsapp">
          &nbsp;GCM: 153
        </p>
        <hr>
        <p>
          <img src="/img/telefone.png" class="icon-whats" alt="Ícone whatsapp">
          &nbsp;Defesa Civil: 199 ou 153
        </p>
        <hr>
        <p>
          <img src="/img/telefone.png" class="icon-whats" alt="Ícone whatsapp">
          &nbsp;Bombeiros: 193 ou (11) 4029-5081
        </p>
        <hr>
        <p>
          <img src="/img/telefone.png" class="icon-whats" alt="Ícone whatsapp">
          &nbsp;Ouvidoria Prefeitura: (11) 4602-8510 / 8514
        </p>
        <hr>
      </div>
      <div class="col-md-4">
        <p>
          <img src="/img/telefone.png" class="icon-whats" alt="Ícone whatsapp">
          &nbsp;Atende Fácil: (11) 4602-8500</p>
        <hr>
        <p>
          <img src="/img/telefone.png" class="icon-whats" alt="Ícone whatsapp">
          &nbsp;PAT: (11) 4602-3490 / 4021-0530
        </p>
        <hr>
        <p>
          <img src="/img/telefone.png" class="icon-whats" alt="Ícone whatsapp">
          &nbsp;Hospital Municipal: (11) 4602-900
        </p>
        <hr>
        <p>
          <img src="/img/telefone.png" class="icon-whats" alt="Ícone whatsapp">
          &nbsp;Vigilância Sanitária: (11) 4028-6662 / 4029-4901
        </p>
        <hr>
      </div>
      <div class="col-md-4">
        <p>
          <img src="/img/telefone.png" class="icon-whats" alt="Ícone whatsapp">
          &nbsp;Procon: (11) 4602-8689
        </p>
        <hr>
        <p>
          <img src="/img/telefone.png" class="icon-whats" alt="Ícone whatsapp">
          &nbsp;Conselho Tutelar: (11) 4028-2584
        </p>
        <hr>
        <p>
          <img src="/img/telefone.png" class="icon-whats" alt="Ícone whatsapp">
          &nbsp;Câmara Municipal: (11) 4602-8300
        </p>
        <hr>
        <p>
          <img src="/img/telefone.png" class="icon-whats" alt="Ícone whatsapp">
          &nbsp;Zoonoses: (11) 4029-4212
        </p>
        <hr>
      </div>
    </div>
    <div class="row row-divider shadow" data-aos="fade-up">
      <div class="col text-center"> 
        <h5 class="text-center mt-3 txt-secretary-title">Câmara Municipal de Salto</h5>
        <p>
          Av. Dom Pedro II, nº 385 – Centro - Salto/SP | CEP: 13320-900
        </p> 
        <p>
          CNPJ: CNPJ 48.986.798/0001-19
        </p>
        <p>
          TELEFONE: (11) 4602-8300
        </p>
      </div>
    </div>
   
  </div>
</body>
<%- include('partials/footer.ejs') %>
