<%- include('partials/header.ejs') %>
<body>
  <div class="onother-header">
    <div class="header-content">
      <h1>Turismo</h1>
      <h5>Descubra Salto: onde a história salta aos olhos e a natureza encanta o coração!</h5>
    </div>
  </div>
  <div class="container my-5">
    <div data-aos="fade-up">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div id="carousel-parque" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carousel-parque" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Parque 01"></button>
              <button type="button" data-bs-target="#carousel-parque" data-bs-slide-to="1" aria-label="Parque 02"></button>
              <button type="button" data-bs-target="#carousel-parque" data-bs-slide-to="2" aria-label="Parque 03"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/img/parque01.jpg" class="d-block img-carousel" alt="Parque Dinossauros 01">
              </div>
              <div class="carousel-item">
                <img src="/img/parque02.jpg" class="d-block img-carousel" alt="Parque Dinossauros 02">
              </div>
              <div class="carousel-item">
                <img src="/img/parque03.jpg" class="d-block img-carousel"" alt="Parque Dinossauros 03">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-parque" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-parque" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="col-md-6">
          <h2 class="txt-title-works">Parque Rocha Moutonneé</h2>
          <p class="text-muted fs-5">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500
          </p>
        </div>
      </div>
      <hr>
    </div>
    
    <div data-aos="fade-up">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h2 class="txt-title-works">Monte Serrat</h2>
          <p class="text-muted fs-5">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500
          </p>
        </div>
        <div class="col-md-6">
          <div id="carousel-santa" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carousel-santa" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Santa 01"></button>
              <button type="button" data-bs-target="#carousel-santa" data-bs-slide-to="1" aria-label="Santa 02"></button>
              <button type="button" data-bs-target="#carousel-santa" data-bs-slide-to="2" aria-label="Santa 03"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/img/santa01.jpg" class="d-block img-carousel" alt="Santa 01">
              </div>
              <div class="carousel-item">
                <img src="/img/santa02.jpg" class="d-block img-carousel" alt="Santa 02">
              </div>
              <div class="carousel-item">
                <img src="/img/santa03.jpg" class="d-block img-carousel" alt="Santa 03">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-santa" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-santa" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
      <hr>
    </div>
   
    <div data-aos="fade-up">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div id="carousel-esculturas" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carousel-esculturas" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Parque 01"></button>
              <button type="button" data-bs-target="#carousel-esculturas" data-bs-slide-to="1" aria-label="Parque 02"></button>
              <button type="button" data-bs-target="#carousel-esculturas" data-bs-slide-to="2" aria-label="Parque 03"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/img/escultura01.jpg" class="d-block img-carousel" alt="Escultura 01">
              </div>
              <div class="carousel-item">
                <img src="/img/escultura02.jpg" class="d-block img-carousel" alt="Escultura 02">
              </div>
              <div class="carousel-item">
                <img src="/img/escultura03.jpg" class="d-block img-carousel" alt="Escultura 03">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-esculturas" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-esculturas" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="col-md-6">
          <h2 class="txt-title-works">Caminho das Esculturas</h2>
          <p class="text-muted fs-5">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500
          </p>
        </div>
      </div>
      <hr>
    </div>
    
  </div>
  
</body>
<%- include('partials/footer.ejs') %>
