<%- include('partials/header.ejs') %>
<body>
  <div class="onother-header">
    <div class="header-content">
      <h1>Turismo</h1>
      <h5>Descubra Salto: onde a história salta aos olhos e a natureza encanta o coração!</h5>
    </div>
  </div>
  <div class="container my-5">
    <div data-aos="fade-up">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div id="carousel-parque" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carousel-parque" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Parque 01"></button>
              <button type="button" data-bs-target="#carousel-parque" data-bs-slide-to="1" aria-label="Parque 02"></button>
              <button type="button" data-bs-target="#carousel-parque" data-bs-slide-to="2" aria-label="Parque 03"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/img/parque01.jpg" class="d-block img-carousel" alt="Parque Dinossauros 01">
              </div>
              <div class="carousel-item">
                <img src="/img/parque02.jpg" class="d-block img-carousel" alt="Parque Dinossauros 02">
              </div>
              <div class="carousel-item">
                <img src="/img/parque03.jpg" class="d-block img-carousel"" alt="Parque Dinossauros 03">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-parque" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-parque" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="col-md-6">
          <h2 class="txt-title-works">Parque Rocha Moutonneé</h2>
          <p class="text-muted fs-5">
            O Parque Rocha Moutonnée é um atrativo turístico voltado à evolução da vida no Planeta Terra. O Parque oferece aos visitantes diversos painéis explicativos sobre o surgimento da vida no planeta, bem como réplicas e maquetes de dinossauros que entretem e divertem os estudantes interessados em investigar a Era Mesozoica. 
            <br>
            O Parque ainda conta com resquícios florestais que indicam as alterações climáticas na escala geológica, bem como oferece um dos mais importantes vestígios geológicos de nosso país: A Rocha Moutonnée.
          </p>
        </div>
      </div>
      <hr>
    </div>
    
    <div data-aos="fade-up">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h2 class="txt-title-works">Monte Serrat</h2>
          <p class="text-muted fs-5">
            Inaugurado em 1980, é um dos maiores monumentos religiosos dedicados à Maria no Brasil e no Mundo. Com 30 metros de altura em concreto armado, o Monumento faz alusão à Nossa Senhora do Monte Serrat, padroeira da cidade de Salto. É um símbolo da cidade que atrai não apenas peregrinos e devotos, mas inúmeros Turistas.
          </p>
        </div>
        <div class="col-md-6">
          <div id="carousel-santa" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carousel-santa" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Santa 01"></button>
              <button type="button" data-bs-target="#carousel-santa" data-bs-slide-to="1" aria-label="Santa 02"></button>
              <button type="button" data-bs-target="#carousel-santa" data-bs-slide-to="2" aria-label="Santa 03"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/img/santa01.jpg" class="d-block img-carousel" alt="Santa 01">
              </div>
              <div class="carousel-item">
                <img src="/img/santa02.jpg" class="d-block img-carousel" alt="Santa 02">
              </div>
              <div class="carousel-item">
                <img src="/img/santa03.jpg" class="d-block img-carousel" alt="Santa 03">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-santa" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-santa" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
      <hr>
    </div>
   
    <div data-aos="fade-up">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div id="carousel-esculturas" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carousel-esculturas" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Parque 01"></button>
              <button type="button" data-bs-target="#carousel-esculturas" data-bs-slide-to="1" aria-label="Parque 02"></button>
              <button type="button" data-bs-target="#carousel-esculturas" data-bs-slide-to="2" aria-label="Parque 03"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/img/mirante01.jpg" class="d-block img-carousel" alt="Escultura 01">
              </div>
              <div class="carousel-item">
                <img src="/img/mirante02.jpg" class="d-block img-carousel" alt="Escultura 02">
              </div>
              <div class="carousel-item">
                <img src="/img/mirante03.jpg" class="d-block img-carousel" alt="Escultura 03">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-esculturas" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-esculturas" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="col-md-6">
          <h2 class="txt-title-works">Mirante da Ponte Estaiada</h2>
          <p class="text-muted fs-5">
            O Mirante da Ponte Estaiada é um dos principais atrativos turísticos de Salto, recebendo centenas de Turistas. A ponte possui uma extensão de 227,70 metros e o mirante uma área de aproximadamente 110m². Do topo da torre do mirante até o espelho d’água são ao todo 48 metros, e da base do mirante até a pista de rodagem são 36 metros.
            <br>
            A ponte conta com um elevador panorâmico, que sobe equivalente a 12 andares até o mirante. Este é formado por um salão todo de vidro, que fornece uma fantástica vista panorâmica da cidade com quase 360º. Vislumbrar Salto através do Mirante da Ponte Estaiada é uma experiência imperdível!
        </div>
      </div>
      <hr>
    </div>
    
  </div>
  
</body>
<%- include('partials/footer.ejs') %>
