<%- include('partials/header.ejs') %>
<body>
  <div class="onother-header">
    <div class="header-content">
      <h1>Vagas</h1>
      <h5> Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.!
      </h5>
      <p>Atualizadas em: 18 de dezembro de 2025</p>
    </div>
  </div>
  <div class="container">
    <div class="row row-divider shadow">
      <div class="col-md-6">
        <p>p8041942 – Agente de Asseio e Conservação (4 vagas)</p>
        <p>• Ensino fundamental incompleto, Experiência na função,</p>
        <hr>
        <p>8041942 – Agente de Asseio e Conservação (4 vagas)</p>
        <p>• Ensino fundamental incompleto, Experiência na função,</p>
        <hr>
        <p>8041942 – Agente de Asseio e Conservação (4 vagas)</p>
        <p>• Ensino fundamental incompleto, Experiência na função,</p>
        <hr>
        <p>8041942 – Agente de Asseio e Conservação (4 vagas)</p>
        <p>• Ensino fundamental incompleto, Experiência na função,</p>
        <hr>
        <p>8041942 – Agente de Asseio e Conservação (4 vagas)</p>
        <p>• Ensino fundamental incompleto, Experiência na função,</p>
      </div>
      <div class="col-md-6">
        <p>8041942 – Agente de Asseio e Conservação (4 vagas)</p>
        <p>• Ensino fundamental incompleto, Experiência na função,</p>
        <hr>
        <p>8041942 – Agente de Asseio e Conservação (4 vagas)</p>
        <p>• Ensino fundamental incompleto, Experiência na função,</p>
        <hr>
        <p>8041942 – Agente de Asseio e Conservação (4 vagas)</p>
        <p>• Ensino fundamental incompleto, Experiência na função,</p>
        <hr>
        <p>8041942 – Agente de Asseio e Conservação (4 vagas)</p>
        <p>• Ensino fundamental incompleto, Experiência na função,</p>
      </div>
    </div>
    <div class="row row-divider shadow" data-aos="fade-up">
      <div class="col"> 
        <p>
          Os interessados deverão comparecer no PAT para retirar a carta de encaminhamento. Cada vaga, tem um limite de carta de encaminhamento, estipulado de acordo com a empresa que a cadastrou
        </p> 
        <p class="mt-1">
          Dúvidas e informações sobre Vagas e Seguro-desemprego entrar em contato nos telefones: 
          <span> 
            <img src="/img/whatsapp.png" class="icon-whats" alt="Ícone whatsapp"> </span>
            <a href="https://wa.me/551140210530?text=Olá,%20gostaria%20de%20mais%20informações%20sobre%20as%20vagas." target="_blank">
              (11) 4021-0530
            </a>
             / 
            <a href="https://wa.me/551146023490?text=Olá,%20gostaria%20de%20mais%20informações%20sobre%20as%20vagas." target="_blank">
              (11) 4602-3490 
            </a>
        </p>
        <p class="mt-1">
          CONFORME LEI NÚMERO 9.799, DE 26 DE MAIO DE 1999, FICA PROIBIDO PUBLICAR OU FAZER PUBLICAR ANÚNCIO DE EMPREGO NO QUAL HAJA REFERÊNCIA AO SEXO, À IDADE, À COR OU SITUAÇÃO FAMILIAR.
        </p>
      </div>
    </div>
  </div>
  
</body>
<%- include('partials/footer.ejs') %>