<%- include('partials/header.ejs') %>
<body>
  <div class="onother-header">
    <div class="header-content">
      <h1>Vereadores</h1>
      <h5>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </h5>
    </div>
  </div>
  <div class="container py-5">
    <div class="row justify-content-center">

      <!-- Card 1 -->
      <div class="col-3 info-vertical-card shadow m-2">
        <div class="card-container">
          <div class="card-image">
            <img src="/img/ver_01.jpg" class="img-secretary" alt="Vereador 01" />
          </div>
          <div class="card-info">
            <div class="m-auto">
              <h5>1026 votos</h5>
              <button class="btn-see-more" data-bs-toggle="modal" data-bs-target="#modalSecretario01">Ver mais</button>
            </div>
           
          </div>
        </div>
        <h5 class="text-center mt-3 txt-secretary-title">Almir de Melo Santos</h5>
      </div>

      <!-- Card 2 -->
      <div class="col-3 info-vertical-card shadow m-2">
        <div class="card-container">
          <div class="card-image">
            <img
              src="/img/ver_02.jpg"  class="img-secretary" alt="Vereador 02"/>
          </div>
          <div class="card-info">
            <div class="m-auto">
              <h5>1.399 votos</h5>
              <button class="btn-see-more" data-bs-toggle="modal" data-bs-target="#modalSecretario02">Ver mais</button>
            </div>
          </div>
        </div>
        <h5 class="text-center mt-3 txt-secretary-title">Antônio Moreira Sobrinho</h5>
      </div>

      <!-- Card 3 -->
      <div class="col-3 info-vertical-card shadow m-2">
        <div class="card-container">
          <div class="card-image">
            <img src="/img/ver_03.jpg" class="img-secretary" alt="Vereador 03"/>
          </div>
          <div class="card-info">
            <div class="m-auto">
              <h5>1.167 votos</h5>
              <button class="btn-see-more" data-bs-toggle="modal" data-bs-target="#modalSecretario03">Ver mais</button>
            </div>
          </div>
        </div>
        <h5 class="text-center mt-3 txt-secretary-title">Arildo Guadagnini</h5>
      </div>

      <!-- Card 4 -->
      <div class="col-3 info-vertical-card shadow m-2">
        <div class="card-container">
          <div class="card-image">
            <img src="/img/ver_04.jpg" class="img-secretary" alt="Vereador 04"/>
          </div>
          <div class="card-info">
            <div class="m-auto">
              <h5>991 votos</h5>
              <button class="btn-see-more" data-bs-toggle="modal" data-bs-target="#modalSecretario04">Ver mais</button>
            </div>
          </div>
        </div>
        <h5 class="text-center mt-3 txt-secretary-title">Clayton Aparecido dos Santos</h5>
      </div>
    </div>

    <div class="row justify-content-center">
      <!-- Card 5 -->
      <div class="col-3 info-vertical-card shadow m-2">
        <div class="card-container">
          <div class="card-image">
            <img src="/img/ver_05.jpg" class="img-secretary" alt="Vereador 05" />
          </div>
          <div class="card-info">
            <div class="m-auto">
              <h5>1.823 votos</h5>
              <button class="btn-see-more" data-bs-toggle="modal" data-bs-target="#modalSecretario05">Ver mais</button>
            </div>
          </div>
        </div>
        <h5 class="text-center mt-3 txt-secretary-title">Edemilson Pereira dos Santos</h5>
      </div>

      <!-- Card 6 -->
      <div class="col-3 info-vertical-card shadow m-2">
        <div class="card-container">
          <div class="card-image">
            <img src="/img/ver_06.jpg" class="img-secretary" alt="Vereador 06" />
          </div>
          <div class="card-info">
            <div class="m-auto">
              <h5>1.133 votos</h5>
              <button class="btn-see-more" data-bs-toggle="modal" data-bs-target="#modalSecretario06">Ver mais</button>

            </div>
          </div>
        </div>
        <h5 class="text-center mt-3 txt-secretary-title">Edival Pereira Rosa</h5>
      </div>

      <!-- Card 7 -->
      <div class="col-3 info-vertical-card shadow m-2">
        <div class="card-container">
          <div class="card-image">
            <img src="/img/ver_07.jpg" class="img-secretary" alt="Vereador 07"/>
          </div>
          <div class="card-info">
            <div class="m-auto">
              <h5>3.591 votos</h5>
              <button class="btn-see-more" data-bs-toggle="modal" data-bs-target="#modalSecretario07">Ver mais</button>
            </div>
          </div>
        </div>
        <h5 class="text-center mt-3 txt-secretary-title">Graziela Costa Leite</h5>
      </div>

      <!-- Card 8 -->
      <div class="col-3 info-vertical-card shadow m-2">
        <div class="card-container">
          <div class="card-image">
            <img src="/img/ver_08.jpg" class="img-secretary" alt="Vereador 08"/>
          </div>
          <div class="card-info">
            <div class="m-auto">
              <h5>2.852 votos</h5>
              <button class="btn-see-more" data-bs-toggle="modal" data-bs-target="#modalSecretario08">Ver mais</button>
            </div>
            
          </div>
        </div>
        <h5 class="text-center mt-3 txt-secretary-title">Henrique Balseiros Chamosa Neto</h5>
      </div>
    </div>

    <div class="row justify-content-center">
      <!-- Card 9 -->
      <div class="col-3 info-vertical-card shadow m-2">
        <div class="card-container">
          <div class="card-image">
            <img src="/img/ver_09.jpg" class="img-secretary" alt="Vereador 09" />
          </div>
          <div class="card-info">
            <div class="m-auto">
              <h5>725 votos</h5>
              <button class="btn-see-more" data-bs-toggle="modal" data-bs-target="#modalSecretario09">Ver mais</button>
            </div>
          </div>
        </div>
        <h5 class="text-center mt-3 txt-secretary-title">Luzia de Fátima Izidório Vidal</h5>
      </div>

      <!-- Card 10 -->
      <div class="col-3 info-vertical-card shadow m-2">
        <div class="card-container">
          <div class="card-image">
            <img src="/img/ver_10.jpg" class="img-secretary" alt="Vereador 10" />
          </div>
          <div class="card-info">
            <div class="m-auto">
              <h5>1.236 votos</h5>
              <button class="btn-see-more" data-bs-toggle="modal" data-bs-target="#modalSecretario10">Ver mais</button>
            </div>
          </div>
        </div>
        <h5 class="text-center mt-3 txt-secretary-title">Michel Oliveira Rodrigues da Silva</h5>
      </div>

      <!-- Card 11 -->
      <div class="col-3 info-vertical-card shadow m-2">
        <div class="card-container">
          <div class="card-image">
            <img src="/img/ver_11.jpg" class="img-secretary" alt="Vereador 11"/>
          </div>
          <div class="card-info">
            <div class="m-auto">
              <h5>1.093 votos</h5>
              <button class="btn-see-more" data-bs-toggle="modal" data-bs-target="#modalSecretario11">Ver mais</button>
            </div>
          </div>
        </div>
        <h5 class="text-center mt-3 txt-secretary-title">Rogério dos Santos Filho</h5>
      </div>

  
    </div>
  </div>

  <!-- MODAL VER MAIS SECRETARIOS -->
  <!-- Modal -->
  <!-- Card 01 -->
  <div class="modal fade custom-modal" id="modalSecretario01" tabindex="-1" aria-labelledby="modalSecretario01Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title-container">
            <h5 class="modal-title" id="modalSecretario01Label">Almir de Melo Santos – “Almir da Adega”</h5>
            <p class="modal-subtitle">(2º Vice-Secretário no biênio 2025-2026)</p> <!-- Cargo abaixo do nome -->
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Com 1.026 votos, foi eleito para o seu primeiro mandato no Legislativo saltense.</p>
          <p><strong class="color-strong">Partido:</strong> PRD</p>
          <p><strong class="color-strong">Data de nascimento:</strong> 26/07/1992</p>
          <p><strong class="color-strong">Profissão:</strong> Empresário</p>
          <p><strong class="color-strong">Escolaridade:</strong> Ensino médio completo</p>
          <p><strong class="color-strong">Objetivos do mandato:</strong> O Trabalhar em prol da comunidade em todos os segmentos, porém com foco na saúde, segurança e bem-estar de todos.</p>
          <p><strong class="color-strong">Assessor Parlamentar:</strong> Jorge Ricardo Barbosa de Sousa</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Card 02 -->
  <div class="modal fade custom-modal" id="modalSecretario02" tabindex="-1" aria-labelledby="modalSecretario02Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title-container">
            <h5 class="modal-title" id="modalSecretario02Label">Antônio Moreira Sobrinho</h5>
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Com 1.399 votos, foi eleito para o seu primeiro mandato no Legislativo saltense.</p>
          <p><strong class="color-strong">Partido:</strong> PL</p>
          <p><strong class="color-strong">Data de nascimento:</strong> 13/06/1967</p>
          <p><strong class="color-strong">Profissão:</strong> Autônomo</p>
          <p><strong class="color-strong">Escolaridade:</strong> Ensino Ensino fundamental</p>
          <p><strong class="color-strong">Objetivos do mandato:</strong> Defender os valores da família e o resgate da juventude.</p>
          <p><strong class="color-strong">Assessor Parlamentar:</strong> Everton Luiz da Cruz</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Card 3 -->
  <div class="modal fade custom-modal" id="modalSecretario03" tabindex="-1" aria-labelledby="modalSecretario03Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title-container">
            <h5 class="modal-title" id="modalSecretario03Label">Arildo Guadagnini</h5>
            <p class="modal-subtitle">(1º Vice-Secretário no biênio 2025-2026)</p> <!-- Cargo abaixo do nome -->
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Com 1.167 votos, foi eleito para o seu primeiro mandato no Legislativo saltense.</p>
          <p><strong class="color-strong">Partido:</strong> Democracia Cristã</p>
          <p><strong class="color-strong">Data de nascimento:</strong> 30/08/1979</p>
          <p><strong class="color-strong">Profissão:</strong> Farmacêutico Bioquímico</p>
          <p><strong class="color-strong">Escolaridade:</strong> Ensino superior</p>
          <p><strong class="color-strong">Objetivos do mandato:</strong> Trabalhar com foco no bem-estar e na qualidade de vida das pessoas, reforçando essa missão, buscando criar projetos e desenvolver ações que resultem em melhorias em todos os setores da vida dos cidadãos.</p>
          <p><strong class="color-strong">Assessor Parlamentar:</strong> João Carlos Ratti</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Card 4 -->
  <div class="modal fade custom-modal" id="modalSecretario04" tabindex="-1" aria-labelledby="modalSecretario04Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title-container">
            <h5 class="modal-title" id="modalSecretario04Label">Clayton Aparecido dos Santos – “Clayton Bispo”</h5>
            <p class="modal-subtitle">(Presidente no biênio 2025-2026)</p> <!-- Cargo abaixo do nome -->
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Com 991 votos, foi eleito para o seu primeiro mandato no Legislativo saltense.</p>
          <p><strong class="color-strong">Partido:</strong> Progressistas</p>
          <p><strong class="color-strong">Data de nascimento:</strong> 09/03/1988</p>
          <p><strong class="color-strong">Profissão:</strong> Empresário</p>
          <p><strong class="color-strong">Escolaridade:</strong> Ensino superior</p>
          <p><strong class="color-strong">Objetivos do mandato:</strong> Será dedicado a promover saúde e educação de qualidade para todos, além de priorizar políticas públicas que garantam acesso aos recursos hídricos, promovendo a dignidade da população saltense.</p>
          <p><strong class="color-strong">Assessor Parlamentar:</strong> Nilson Sirina dos Santos</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Card 5 -->
  <div class="modal fade custom-modal" id="modalSecretario05" tabindex="-1" aria-labelledby="modalSecretario05Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title-container">
            <h5 class="modal-title" id="modalSecretario05Label">Edemilson Pereira dos Santos</h5>
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Com 1.823 votos, foi eleito para o seu terceiro mandato no Legislativo saltense.</p>
          <p><strong class="color-strong">Partido:</strong> Podemos</p>
          <p><strong class="color-strong">Data de nascimento:</strong> 27/11/1975</p>
          <p><strong class="color-strong">Profissão:</strong> Designer gráfico / Empreendedor do agro e da comunicação</p>
          <p><strong class="color-strong">Escolaridade:</strong> Graduando em Administração / Gestão Pública</p>
          <p><strong class="color-strong">Objetivos do mandato:</strong> Continuar focado no apoio ao empreendedorismo, geração de empregos, zeladoria urbana, agronegócio, saneamento, segurança pública, educação, entre outros temas, além da fiscalização e aplicação dos recursos públicos, debater as concessões de serviços públicos e desenvolver as parcerias com deputados em prol de Salto.</p>
          <p><strong class="color-strong">Assessor Parlamentar:</strong> Simone Prado Almeida Valle</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Card 6 -->
  <div class="modal fade custom-modal" id="modalSecretario06" tabindex="-1" aria-labelledby="modalSecretario06Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title-container">
            <h5 class="modal-title" id="modalSecretario06Label">Edival Pereira Rosa – “Preto”</h5>
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Com 1.133 votos, foi eleito para o seu quinto mandato no Legislativo saltense.</p>
          <p><strong class="color-strong">Partido:</strong> União Brasil</p>
          <p><strong class="color-strong">Objetivos do mandato:</strong> Atuar com transparência e responsabilidade, garantindo que as demandas da população sejam atendidas, com foco em educação, saúde, falta de água e segurança.</p>
          <p><strong class="color-strong">Assessor Parlamentar:</strong> Gabriela Azevedo de Melo</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Card 7 -->
  <div class="modal fade custom-modal" id="modalSecretario07" tabindex="-1" aria-labelledby="modalSecretario07Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title-container">
            <h5 class="modal-title" id="modalSecretario07Label">Graziela Costa Leite – “Dra. Grazi”</h5>
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Com 3.591 votos, foi eleita para o seu primeiro mandato no Legislativo saltense.</p>
          <p>Mãe atípica, advogada e empresária; pós-graduada em Direito da Saúde e Médico; especialista em Direito da Medicina pela Universidade de Coimbra e pós-graduada em Gestão Pública.</p>
          <p><strong class="color-strong">Partido:</strong> PSB</p>
          <p><strong class="color-strong">Data de nascimento:</strong> 05/01/1982</p>
          <p><strong class="color-strong">Profissão:</strong> Advogada</p>
          <p><strong class="color-strong">Escolaridade:</strong> Ensino superior completo</p>
          <p><strong class="color-strong">Objetivos do mandato:</strong> Participação popular na criação de políticas públicas, para que Salto seja uma cidade inclusiva e forneça qualidade de vida à população.</p>
          <p><strong class="color-strong">Assessor Parlamentar:</strong> Tatiana Rodrigues da Silva</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Card 8 -->
  <div class="modal fade custom-modal" id="modalSecretario08" tabindex="-1" aria-labelledby="modalSecretario08Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title-container">
            <h5 class="modal-title" id="modalSecretario08Label">Henrique Balseiros Chamosa Neto</h5>
            <p class="modal-subtitle">(2º Secretário no biênio 2025-2026)</p> <!-- Cargo abaixo do nome -->
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Com 2.852 votos, foi eleito para o seu segundo mandato no Legislativo saltense.</p>
          <p><strong class="color-strong">Partido:</strong> PL</p>
          <p><strong class="color-strong">Data de nascimento:</strong> 01/05/1994</p>
          <p><strong class="color-strong">Profissão:</strong> Professor de Educação Física</p>
          <p><strong class="color-strong">Escolaridade:</strong> Ensino superior completo</p>
          <p><strong class="color-strong">Objetivos do mandato:</strong> Ouvir a população, mediar ações que visem o interesse público e, principalmente, focar na educação municipal.</p>
          <p><strong class="color-strong">Assessor Parlamentar:</strong> José Marcos de Almeida</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Card 9 -->
  <div class="modal fade custom-modal" id="modalSecretario09" tabindex="-1" aria-labelledby="modalSecretario09Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title-container">
            <h5 class="modal-title" id="modalSecretario09Label">Luzia de Fátima Izidório Vidal</h5>
            <p class="modal-subtitle">(Vice-Presidente no biênio 2025-2026)</p> <!-- Cargo abaixo do nome -->
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Com 725 votos, foi eleita para o seu segundo mandato no Legislativo saltense.</p>
          <p><strong class="color-strong">Partido:</strong> PSB</p>
          <p><strong class="color-strong">Data de nascimento:</strong> 13/12/1963</p>
          <p><strong class="color-strong">Profissão:</strong> Professora de ensino básico (PEB)</p>
          <p><strong class="color-strong">Escolaridade:</strong> Ensino superior em Pedagogia com pós-graduação em Psicopedagogia</p>
          <p><strong class="color-strong">Objetivos do mandato:</strong> Legislar e fiscalizar com ética e transparência.</p>
          <p><strong class="color-strong">Assessor Parlamentar:</strong> David Estéfani de Paula Pinto Agoston</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Card 10 -->
  <div class="modal fade custom-modal" id="modalSecretario10" tabindex="-1" aria-labelledby="modalSecretario10Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title-container">
            <h5 class="modal-title" id="modalSecretario10Label">Mário Gilmar Mazzeto</h5>
            <p class="modal-subtitle">Secretário de Governo</p> <!-- Cargo abaixo do nome -->
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Com 1.236 votos, foi eleito para o seu primeiro mandato no Legislativo saltense.</p>
          <p><strong class="color-strong">Partido:</strong> PT</p>
          <p><strong class="color-strong">Data de nascimento:</strong> 24/06/1989</p>
          <p><strong class="color-strong">Profissão:</strong> Professor de História</p>
          <p><strong class="color-strong">Escolaridade:</strong> Ensino superior completo</p>
          <p><strong class="color-strong">Objetivos do mandato:</strong> Construir um mandato popular e participativo, que inclua a população nas discussões e decisões sobre os temas que impactam a vida das pessoas na cidade.</p>
          <p><strong class="color-strong">Assessor Parlamentar:</strong> Eduardo Possetti</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Card 11 -->
  <div class="modal fade custom-modal" id="modalSecretario11" tabindex="-1" aria-labelledby="modalSecretario11Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title-container">
            <h5 class="modal-title" id="modalSecretario11Label">JRogério dos Santos Filho – “Dr. Rogério Pinheiro”</h5>
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Com 1.093 votos, foi eleito para o seu primeiro mandato no Legislativo saltense.</p>
          <p><strong class="color-strong">Partido:</strong> Solidariedade</p>
          <p><strong class="color-strong">Data de nascimento:</strong> 18/04/1978</p>
          <p><strong class="color-strong">Profissão:</strong> Advogado</p>
          <p><strong class="color-strong">Escolaridade:</strong> Ensino superior</p>
          <p><strong class="color-strong">Objetivos do mandato:</strong>  Atuar de modo que nós, vereadores, possamos representar a sociedade e ser exemplo de civilidade, além de fortalecer o Poder Legislativo de modo que a sociedade acredite e entenda a força e a importância da política no nosso dia a dia.</p>
          <p><strong class="color-strong">Assessor Parlamentar:</strong> Rodrigo Donizette de Almeida</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Card 12 -->
  <div class="modal fade custom-modal" id="modalSecretario12" tabindex="-1" aria-labelledby="modalSecretario12Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title-container">
            <h5 class="modal-title" id="modalSecretario12Label">Felipe Kormann Stefani</h5>
            <p class="modal-subtitle">Secretário de Assuntos Jurídicos</p> <!-- Cargo abaixo do nome -->
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Advogado, graduado pela Faculdade de Direito de Itu. </p>
          <p>Já atuou em escritórios de advocacia.</p>
          <p>Foi assessor jurídico no Hospital Nossa Senhora do Mont Serrat.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Card 13 -->
  <div class="modal fade custom-modal" id="modalSecretario13" tabindex="-1" aria-labelledby="modalSecretario13Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title-container">
            <h5 class="modal-title" id="modalSecretario13Label">João de Conti Neto</h5>
            <p class="modal-subtitle">Secretário de Obras de Serviços Públicos</p> <!-- Cargo abaixo do nome -->
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>João De Conti tem ampla atuação na iniciativa privada e pública.</p>
          <p>Já foi secretário municipal e tem trabalhos relevantes em gestão de obras, licenciamentos e parcerias público- privadas (PPP). </p>
          <p> Formação em Engenharia Agronômica, com Especialização em Gestão Ambiental.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Card 14 -->
  <div class="modal fade custom-modal" id="modalSecretario14" tabindex="-1" aria-labelledby="modalSecretario14Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title-container">
            <h5 class="modal-title" id="modalSecretario14Label">Fernando Amâncio Camargo</h5>
            <p class="modal-subtitle">Secretário de Saúde</p> <!-- Cargo abaixo do nome -->
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Iniciou sua carreira no setor público na cidade de Embu das Artes onde atuou na área contábil das Secretarias de Saúde e de Finanças.</p>
          <p>Também foi Secretário Adjunto de Finanças e Secretário de Administração.</p>
          <p>É Graduado em Ciências Contábeis pela Faculdade de Economia São Luís e Pós-Graduado em Gerente de Cidades pela FAAP.</p>
          <p>Trabalhou também nas Prefeituras de Carapicuíba, Bragança Paulista e Taubaté, atuando à frente da Secretaria de Finanças.</p>
          <p>Em 2017, durante o mandato de Geraldo Garcia, foi nomeado na Prefeitura de Salto, onde atuou como Secretário de Administração, de Finanças e de Saúde.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Card 15 -->
  <div class="modal fade custom-modal" id="modalSecretario15" tabindex="-1" aria-labelledby="modalSecretario15Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title-container">
            <h5 class="modal-title" id="modalSecretario15Label">Iara Gonzaga Bortoluci</h5>
            <p class="modal-subtitle">Secretária de Turismo</p> <!-- Cargo abaixo do nome -->
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Jornalista, formada pela Puc-Campinas, atuou em mídia impressa (jornais e revistas) e televisiva, digital e assessoria empresarial. </p>
          <p>Há mais de 15 anos trabalha em comunicação pública e faz parte da equipe de comunicação do Prefeito Geraldo Garcia desde o seu primeiro mandato, na assessoria de imprensa da Prefeitura e como diretora municipal de comunicação.</p>
          <p>Nestes anos, adquiriu profundo conhecimento dos planos e estruturas de turismo do município.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

   <!-- Card 16 -->
   <div class="modal fade custom-modal" id="modalSecretario16" tabindex="-1" aria-labelledby="modalSecretario16Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title-container">
            <h5 class="modal-title" id="modalSecretario16Label">Ângelo César Turqui Piva</h5>
            <p class="modal-subtitle">Superintendente do SAAE</p> <!-- Cargo abaixo do nome -->
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Formado em Administração de Empresas, Técnico em Química e pós-graduado em Direito Ambiental.</p>
          <p>Atuou por 10 anos na iniciativa privada e iniciou sua carreira pública na Secretaria de Obras e Serviços Públicos de Salto, onde assumiu os cargos de chefe de gabinete e também de Secretário Municipal da pasta, além de Secretário de Meio Ambiente.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

</body>
<%- include('partials/footer.ejs') %>
